<template>
		<div>
				<div v-bind="$attrs" ref="fotorama" class="fotorama" v-show="isMedia() && !loader" data-auto="false">
						<img v-for="image in propMedia" :src="'/'+image.url" :alt="image.description"
						     :data-caption="image.properties.description">
				</div>
				<div v-if="!isMedia() && !loader" v-html="$helpers.fallbackImg()"></div>
				<loader v-if="loader" type="InstagramLoader"></loader>
		</div>
</template>

<script>

	export default {
		name: "Fotorama",
		props: [ 'propMedia' ],
		data: () => ({
			loader: true,
			fotorama: null,
		}),
		created () {
			if ( this.isMedia() ) {
				this.$helpers.attachScript( 'fotorama_js', '/plugins/fotorama/fotorama.js' );
				this.$helpers.attachStyle( 'fotorama_css', '/plugins/fotorama/fotorama.css' );
			}
		},
		mounted () {
			this.loader = false;
			if ( this.isMedia() ) {
				const imgLoaded = imagesLoaded( this.$refs.fotorama );
				imgLoaded.on( 'done', () => {
					this.init();
				} )
					.on( "progress", ( instance, image ) => {
						if ( !image.isLoaded ) {
							image.img.outerHTML = this.$helpers.fallbackImg();
							this.init( true );
						}
					} )
			}
		},
		methods: {
			init ( reload = false ) {
				if ( reload && this.fotorama ) {
					this.fotorama.destroy();
				}
				const block = $( '.fotorama' ).fotorama();
				this.fotorama = block.data( 'fotorama' );
			},
			isMedia () {
				return Object.keys( this.propMedia ).length > 0;
			}
		}
	}
</script>

<style>
		.fotorama__wrap {
				width: 100% !important;
		}
</style>