/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */

.flag {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('flags.png') no-repeat;
}


.flag.flag-az {
    background-position: -48px 0;
}

.flag.flag-ru {
    background-position: 0 -48px;
}

.flag.flag-us {
    background-position: -48px -48px;
}
