<template>
		<div>
				<h6>{{makeDate(deals[0].paid_at)}}</h6>
				<ul class="list-group">
						<li v-for="(deal,key) in deals" class="list-group-item  m--font-boldest" :key="key">
								<a v-if="deal.client.id  > 0" :href="route('clients.show', deal.client.id)" class="m-link m-link--brand" target="_blank">
										{{deal.client.name}}
								</a>
								<a :href="route('deals.show', deal.id)" class="m-link m-link--focus" target="_blank">
										{{deal.hash}}
								</a>
								<span class="badge badge-dark" v-html="deal.cost"></span>
								<span v-html="$helpers.badge(deal.status)"></span>
						</li>
				</ul>
		</div>
</template>

<script>
    export default {
		    name:"ProfitTemplate",
		    props:['deals'],
		    methods:{
            makeDate(date) {
                return moment(date).format('DD MMMM YYYY');
            }
		    }
    }
</script>