<template>
		<div>
				<h6>{{ trans('Information') }}</h6>
				<ul class="list-group m--font-bolder mt-2">
						<li class="list-group-item">
								{{ trans('Deal') }}: <a class="m-link m-link--brand" :href="route('deals.show', deal.id)" target="_blank">{{deal.hash}}</a>
								<span v-html="$helpers.badge(deal.status)"></span>
						</li>
						<li class="list-group-item">
								{{ trans('Price') }}: <span class="m-badge m-badge--wide m-badge--danger" v-html="deal.realcost"></span>
								{{ trans('Sale') }}: <span class="m-badge m-badge--wide m-badge--warning">{{deal.sale}} %</span>
								{{ trans('Final price') }}: <span class="m-badge m-badge--wide m-badge--success" v-html="deal.cost"></span>
						</li>
						<li class="list-group-item" v-if="deal.client.id > 0">
								{{ trans('Customer') }}:  <a class="m-link m-link--brand" :href="route('clients.show', deal.client.id)" target="_blank">{{deal.client.name}}</a>
						</li>
						<li class="list-group-item">
								{{ trans('Date range') }}:
								<span class="m--font-brand m--font-boldest">{{ trans('From') }} {{makeDate(deal.start)}}</span>
								 /
								<span class="m--font-brand m--font-boldest">{{ trans('To') }} {{makeDate(deal.end)}}</span>
						</li>
						<li class="list-group-item" v-if="deal.paid_at !== null">
								{{ trans('Payment date') }}	<span class="m-badge m-badge--wide m-badge--accent m--font-boldest">{{makeDate(deal.paid_at)}}</span>
						</li>
						<li class="list-group-item mt-3" v-if="deal.items.length > 0">
								<span>{{ trans('Items')}}</span>
								<ul class="list-group mt-2">
										<li class="list-group-item" v-for="(item,key) in deal.items" :key="key">
												<span class="m-badge m-badge--wide m-badge--accent m--font-boldest">№ {{item.id}}</span>
												<a :href="route('inventory.show',item.id)" class="m-link m-link--brand">
														{{item.name}} {{item.model}}
														<span class="m-badge m-badge--wide m-badge--info m--font-boldest" v-html="item.cost"></span>
												</a>
										</li>
								</ul>
						</li>
				</ul>
		</div>
</template>

<script>
    export default {
		    name:"DealTemplate",
		    props:["deal"],
		    methods:{
		        makeDate(date) {
		            return moment(date).format('DD MMMM YYYY');
		        }
		    }
    }
</script>

<style>
.fc-content {
		cursor:pointer;
}
</style>