/* Cosper - Software and App Landing HTML Template */

@media only screen and (max-width: 5000px){
	.page-wrapper{
		overflow:hidden;	
	}
}

@media only screen and (max-width: 1600px){
	
	.banner-section:before{
		right:-200px;
	}
	
}

@media only screen and (max-width: 1400px){
	
}

@media only screen and (max-width: 1340px){

	.page-wrapper{
		overflow:hidden;	
	}
	
}

@media only screen and (max-width: 1140px){
	
	.main-header{
		margin:0px !important;
	}
	
	.page-wrapper{
		overflow:hidden;	
	}
	
	.main-menu .navigation > li{
		margin-left:0px;
	}
	
	.main-header .info-box strong{
		font-size:13px;
	}
	
	.main-header .info-box{
		margin-left:25px;
		display:inline-block;
		float:none;
	}
	
	.main-header .outer-box,
	.main-slider h3:before,
	.main-slider h3:after,
	.template-section .title-column .inner-column h2 br{
		display:none;
	}
	
	.main-header .outer-box .buttons-box .theme-btn{
		font-size:16px;
	}
	
	.main-header .outer-box .option-box > li{
		margin-left:15px;
	}
	
	.main-header .nav-outer{
		float:right;
	}
	
	.brand-section .content-column .inner-column,
	.download-section .content-column .inner-column{
		padding-left:0px;
		padding-right:0px;
	}
	
	.call-to-action-section .buttons-column .inner-column .theme-btn{
		margin-left:30px;
	}
	
	.main-footer .footer-bottom,
	.main-footer .widgets-section{
		padding-left:0px;
	}
	
	.main-slider .slide .content{
		padding-top:250px;
	}
	
	.main-slider{
		padding-bottom:80px;
	}
	
	.main-slider .owl-dots{
		bottom:0px;
		margin-top:20px;
	}
	
	.banner-section-two .content-column .inner-column{
		padding-top:40px;
	}
	
	.invoice-section .content-column .inner-column,
	.feature-block-three.alternate .inner-box .content-column .inner-column,
	.feature-block-three .inner-box .content-column .inner-column{
		padding-left:0px;
	}
	
	.services-section .title-column .inner-column{
		padding-right:0px;
	}
	
	.page-title{
		padding-top:200px;
	}
	
	.banner-section:before{
		right:-400px;
	}
	
}

@media only screen and (min-width: 1025px){
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.main-header .main-box .logo-box {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		margin:0px;
		text-align:left;
	}
	
	.page-title{
		padding-top:200px;
	}
	
	.sidebar-page-container .sidebar-side .sidebar .inner .inner-wrapper-sticky{
		position:relative !important;
		left:0px !important;
		top:0px !important;
		width:100% !important;
		transform: translate(0px,0px) !important;
	}
	
	.info-block{
		margin-bottom:30px;
	}
	
	.main-footer:after,
	.main-footer:before,
	.commitment-section:before,
	.main-slider .slide .image-box,
	.banner-section::before{
		display:none;
	}
	
	.feature-block,
	.feature-block-two,
	.feature-block:last-child{
		margin-bottom:40px;
	}
	
	.feature-block .inner-box{
		margin-right:0px;
	}
	
	.feature-block-two .inner-box{
		margin-left:0px;
	}
	
	.application-section .blocks-column .inner-column{
		background-image:none;
	}
	
	.banner-section{
		background-color: #fafafa;
	}
	
	.main-menu .navigation > li > a{
		color:#222222;
	}
	
	/*.main-header .nav-outer{
		float:left;
		width: 100%;
	}*/
	
	.main-slider .slide .content{
		width:100%;
	}
	
	
	.main-header .header-upper .search-box-outer .dropdown-menu{
		top:48px !important;
	}
	
	.main-header .nav-toggler{
		display:block;
	}
	
	.main-slider .tparrows,
	.header-top-two .top-left,
	.fixed-header .sticky-header,
	/*.main-header .header-upper .button-box,*/
	.main-header .header-top .top-right::before,
	.main-header .header-top .top-right:after,
	.main-header .header-top .top-right .list,
	.main-header .header-upper .contact-number{
		display:none;
	}
	
	.main-header .header-upper .logo-box{
		padding-top:25px;
		z-index:20;
	}
	
	.main-header .header-top .top-right .social-nav{
		margin-left:0px;
		width:100%;
	}
	
	.main-menu .navigation > li > a{
		font-size:14px;
	}
	
	.main-header .options-box{
		margin-top:0px;
		position:absolute;
		left:0px;
		top:25px;
		z-index:12;
		display:none;
		right:auto;
	}
	
	.main-header .header-upper .upper-right{
		padding-top:0px;
		width:100%;
		text-align:center;
		padding-bottom:20px;
	}
	
	.main-menu .navigation > li{
		margin-right:25px;
	}
	
	.main-header .header-upper .logo-box{
		/*margin-right: 0px;
		width:100%;
		padding-top: 20px;
		text-align:center;
		padding-bottom: 0px;*/
	}
	
	.header-style-three .main-menu{
		margin-top:0px;
	}
	
	.header-style-three .nav-outer{
		width:auto;
		float: right;
	}
	
	.main-header .header-upper .outer-container{
		padding:0px 15px;
	}
	
	.main-slider h2{
		font-size:26px;
	}
	
	.main-footer.style-two:after,
	.main-footer.style-two:before,
	.main-slider h2:before{
		display:none;
	}
	
	.sec-title .text br,
	.header-top .top-left{
		display:none;
	}
	
	.header-top .top-right .social-box{
		width:100%;
		text-align: center;
	}
	
	.main-menu .navigation > li > a{
		padding:35px 0px;
	}
	
	.main-header .header-upper .support-box{
		margin-top:10px;
	}

	.main-header .header-upper .search-box-outer{
		margin-top:30px;
	}
	
	.main-header .header-upper .button-box{
		padding-top:30px;
	}
	
	.banner-section .content{
		padding-top:220px;
	}
	
	.invoice-section{
		padding:80px 0px;
		background-color: #fafbfa;
		background-image: none !important;
	}
	
	.banner-section-two{
		background-image: none !important;
		background-color: #2c43ab;
	}
	
	.banner-section-two .content-column .inner-column{
		padding-bottom:0px;
	}
	
	.call-to-action-section,
	.invoice-section .image-column .inner-column,
	.call-to-action-section .buttons-column .inner-column{
		text-align:center;
	}
	
	.sponsors-section{
		padding:90px 0px 0px;
	}
	
	.application-section .title-column .inner-column{
		padding-right:0px;
	}
	
	.commitment-section .image-column .inner-column,
	.subscribe-section .image-column .inner-column{
		text-align:center;
	}
	
	.feature-block-three .inner-box .content-column .inner-column{
		padding-top:0px;
	}
	
	.feature-block .inner-box{
		text-align:left;
	}
	
	.inventory-section .inventory-tabs .tab-btns{
		position:relative;
		top:0px;
		margin-bottom:0px;
	}
	
	.inventory-section .inventory-tabs .tab-btns .tab-btn{
		margin-left:0px;
		margin-right:20px;
	}
	
	.pricing-section .title-column,
	.pricing-section .price-column{
		width:100%;
	}
	
	.main-header.header-style-three .header-upper .logo-box{
		padding-top:21px;
		width:auto;
		z-index: 20;
	}
	
	.fixed-header .header-upper .logo-box{
		padding-top:21px;
	}
	
}

@media only screen and (max-width: 767px){
	
	
	
	.header-upper .logo-outer {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:100%;
		margin:0px;
	}
	
	.main-header .header-top .top-right,
	.main-header .header-top .top-left{
		width:100%;	
	}
	
	.sec-title h2{
		font-size:24px;	
	}
	
	.main-menu{
		width:100%;
		display:block;
	}
	
	.main-menu .navbar-collapse {
	   max-height:300px;
	   max-width:none;
		overflow:auto;
		float:none !important;
		width:100% !important;
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .navbar-collapse.in,
	.main-menu .collapsing{
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:20px 0px 10px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:12;
		border:1px solid #cc8809;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#cc8809;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#2c2c2c;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#2c2c2c;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		border-top:1px solid rgba(255,255,255,1) !important;	
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#2c2c2c;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#cc8809;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#2c2c2c;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-slider .owl-nav,
	.main-slider .schedule-box,
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-header .btn-outer{
		left:0px;
		top:0px;
		right:auto;
		margin-top:15px;
		text-align:left;
		z-index:12;
	}
	
	.main-header .main-box .logo-box{
		float:none;
		text-align:center;
		padding-bottom:10px;
	}
	
	.main-header .search-box-outer .dropdown-menu{
		left:0px;
		top:47px;
	}
	
	.main-header .header-top{
		padding:10px 0px;
	}
	
	.sidebar-page-container .comments-area .comment-box.reply-comment{
		margin-left:0px;
	}
	
	.main-header .info-box{
		padding-left:0px;
		text-align:center;
		width:100%;
		margin-left:0px;
		margin-bottom: 20px;
	}
	
	.main-header .info-box:last-child{
		margin-bottom:0px;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		margin:0 auto;
		margin-bottom:15px;
	}
	
	.main-header .main-box .outer-container{
		padding:0px;
	}
	
	.main-header .header-lower .outer-box{
		position:absolute;
		z-index:12;
		display:block;
	}
	
	.main-menu .navbar-header .navbar-toggler{
		display: inline-block;
		z-index: 12;
		width: 50px;
		height: 40px;
		float: none;
		padding: 0px;
		text-align: center;
		border-radius: 0px;
		background: #1f8ceb;
		border: 1px solid #1f8ceb;
	}
	
	.main-menu .navbar-header .navbar-toggler .icon-bar{
		position: relative;
		background: #ffffff;
		height: 2px;
		width: 26px;
		display: block;
		margin:0 auto;
		margin:5px 11px;
	}
	
	.main-header .nav-outer{
		width:100%;
		margin-top:-60px;
	}
	
	.main-header.header-style-three .nav-outer{
		margin-top:-60px;
	}
	
	.main-slider h3{
		font-size:20px;
	}
	
	.main-header .outer-box .buttons-box,
	.main-slider .text br{
		display:none;
	}
	
	.main-slider .slide{
		padding:70px 0px 0px;
	}
	
	.main-header .outer-box .option-box > li{
		margin-left:0px;
		margin-right: 20px;
	}
	
	.header-top .top-left .text{
		text-align:center;
		padding: 10px 0px;
	}
	
	.main-header .header-lower .search-box-outer .dropdown-menu{
		left:0px !important;
	}
	
	.main-header .header-upper .support-box{
		position:absolute;
		left: 0px;
		top: 0px;
		z-index: 12;
		margin-left: 0px;
		margin-top: 0px;
	}
	
	.main-header .header-upper .search-box-outer{
		position: absolute;
		left: 170px;
		top: 0px;
		z-index: 12;
		margin-top: 20px;
	}
	
	.main-header .header-upper .search-box-outer .dropdown-menu{
		top:51px !important;
		left: 0px;
		right: auto;
	}
	
	.main-footer .footer-bottom .copyright-column,
	.main-footer .footer-bottom{
		text-align:center;
	}
	
	.main-footer .footer-bottom .footer-nav{
		text-align:center;
		margin-top: 6px;
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
	}
	
	.sidebar-page-container .comments-area .reply-comment,
	.sidebar-page-container .comments-area .reply-comment-two,
	.software-section .inner-container .row:nth-child(2n),
	.sidebar-page-container .comments-area .comment{
		padding-left:0px;
	}
	
	.main-header .header-upper .button-box{
		position: absolute;
		right: 50px;
		top:-4px;
		bottom: 16px;
		z-index: 12;
		margin-left: 0px;
		padding-top: 25px;
	}
	
	.fixed-header .header-upper .button-box{
		padding-top:15px;
		top:6px;
	}
	
	.main-slider .slide .content{
		padding-top:150px;
	}
	
	.sec-title .text br,
	.software-section .inner-container::before,
	.software-block .inner-box::before,
	.software-block-two .inner-box::before{
		display:none;
	}
	
	.software-block,
	.software-block-two{
		width:100%;	
	}
	
	.software-block .inner-box,
	.software-block-two .inner-box{
		margin-right:0px;
		margin-left:0px;
		padding:0px;
		text-align:center;
	}
	
	.software-block .inner-box .text,
	.software-block-two .inner-box .text{
		max-width:none;
		width:100%;	
	}
	
	.software-block .inner-box .icon-box,
	.software-block-two .inner-box .icon-box{
		position:relative;
		display:block;
		left:0px;
		top:0px;
		margin:0 auto 30px;	
	}
	
	.feature-block-three .inner-box .content-column .text{
		max-width:100%;
	}
	
	.page-title h1,
	.services-section-two .title-column .inner-column h2,
	.invoice-section .content-column .inner-column h2,
	.pricing-section .title-column h2,
	.services-section .title-column .inner-column h2{
		font-size:26px;
	}
	
	.page-title .pull-right{
		width:100%;
		display:block;
	}
	
	.page-title .bread-crumb{
		margin-top:35px;
	}
	
	.news-block-two .inner-box .lower-content h3{
		font-size:20px;
	}
	
	.blog-single .inner-box .lower-content .text .two-column .image{
		margin-bottom:25px;
	}
	
	.fixed-header .header-upper .logo-box{
		padding:10px 0px;
	}
	
	.fixed-header .nav-outer{
		margin-top:-75px;
	}
	
	.header-style-three.fixed-header .nav-outer{
		margin-top:-75px;
	}
	
	.header-style-three.fixed-header .header-upper .logo-box{
		padding:15px 0px 15px;
	}
	.feature-block-six .inner-box,
	.feature-block-four .inner-box,
	.feature-block-five .inner-box{
		text-align:center;
	}
	
}

@media only screen and (max-width: 599px){
	
	.main-slider .price,
	.main-slider h3.light,
	.sidebar-page-container .group-title h2{
		font-size:26px;
	}
	
	.header-top .top-right .social-box li.share{
		font-size:15px;
	}
	
	.main-slider .theme-btn{
		margin-right:10px;
	}
	
	.blog-single .inner-box .lower-content{
		padding:0px 15px 5px;
	}
	
	.banner-section-two .content-column .inner-column h2,
	.banner-section .content h2{
		font-size:30px;
	}
	
	.sec-title h2 br,
	.main-slider h2 br,
	.news-section .owl-dots,
	.sponsors-section .owl-dots,
	.banner-section .content .text br,
	.banner-section .content h2 br,
	.testimonial-section .owl-dots,
	.sponsors-section-two .owl-dots{
		display:none;
	}
	
	.main-slider .theme-btn{
		padding:8px 16px;
		font-size:12px;
	}
	
	.software-block-two .inner-box .icon-box,
	.software-block .inner-box .icon-box,
	.testimonial-block-two .inner-box .content .image-outer,
	.feature-block-four .inner-box .icon-box{
		position:relative;
		top: 0px;
		margin-bottom:20px;
	}
	
	.testimonial-block-two .inner-box .content .image-outer{
		text-align:left;
	}
	
	.software-block .inner-box{
		padding-right:0px;
	}
	
	.testimonial-block-two .inner-box{
		padding:30px 30px;
	}
	
	.feature-block-four .inner-box,
	.software-block-two .inner-box,
	.testimonial-block-two .inner-box .content{
		padding-left:0px;
	}
	
	.call-to-action-section .buttons-column .inner-column .theme-btn{
		margin-left:10px;
		margin-right:10px;
		margin-bottom:15px;
	}
	
	.sidebar-page-container .sidebar-side .sidebar{
		padding:20px 15px;
	}
	
}

@media only screen and (max-width: 479px) {
	
	.main-header .search-box-outer .dropdown-menu{
		top:44px;	
	}
	
	.banner-section-two .content-column .inner-column .btns-box .theme-btn{
		margin-bottom:15px;
	}
	
	.subscribe-section .form-column .inner-column .form-group{
		padding-left:0px;
	}
	
	.subscribe-section .form-column .inner-column .form-group .submit-btn{
		position:relative;
		width:100%;
		display:block;
		margin-top:15px;
	}
	
	.main-header .nav-toggler{
		top:0px;
	}
	
}
