/*
* Slim v5.0.2 - Image Cropping Made Easy
* Copyright (c) 2018 Rik Schennink - https://pqina.nl/slim
*/
<template>
		<div class="slim">
				<slot></slot>
		</div>
</template>

<script>
	// Slim (place slim CSS and slim.module.js file in same folder as this file)
	import Slim from './slim.module.js'

	var instance = null

	export default {
		props: [ 'options' ],
		name: 'slim-cropper',
		mounted: function () {
			if ( this.options.initialImage ) {
				var img = document.createElement( 'img' )
				img.setAttribute( 'alt', '' )
				img.src = this.options.initialImage
				this.$el.appendChild( img )
			}
			const methods = {
				willRequest: xhr => xhr.setRequestHeader( 'X-CSRF-TOKEN', $( 'meta[name="csrf-token"]' ).attr( 'content' ) ),
				willRemove: this.remove
			};
			instance = new Slim( this.$el, Object.assign( this.options, methods ) )
		},
		methods: {
			remove ( data, remove ) {
				axios.delete( route( 'async.user.avatar.remove' ) ).then( () => {
					remove();
				} );
			}
		},
		beforeDestroy: function () {
			instance.destroy()
		}
	}
</script>
<style lang="css">
		@import "./slim.min.css";
</style>
