<template>
	<a href=""
	   data-toggle="m-tooltip"
	   data-placement="top"
	   data-html="true"
	   data-skin="light"
	   data-original-title='Категории'
	   class="m-portlet__nav-link m-portlet__nav-link--icon"
	   @click.prevent="open"
	>
		<i class="la la-paperclip"></i>
	</a>
</template>
<script>
	import Vue from 'vue';
	import CategoriesCrud from './crud';

	export default {
		name: "categories",
		data: () => ({
			crud: null
		}),
		mounted () {
			this.crud = Vue.extend( CategoriesCrud );
		},
		methods: {
			open () {
				const instance = new this.crud().$mount();
				this.$store.offcanvas.show( instance.$el );
			}
		}
	}
</script>

<style scoped>

</style>