<template>
	<div ref="categoriesCrud" class="m-portlet shadow-none">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon"><i class="la la-paperclip"></i></span>
					<h3 class="m-portlet__head-text">
						{{ trans('Categories') }}
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<transition name="slideDown">
					<button class="btn btn-primary m-btn--icon m-btn m-btn--pill m-btn--icon-only btn-sm" v-if="form === null"
					        @click.prevent="form = 'store'">
						<i class="la la-plus"></i>
					</button>
				</transition>
			</div>
		</div>
		<div class="m-portlet__body">
			<transition name="slideDown">
				<div v-if="form !== null" class="categoryInput bg-white p-5 shadow-lg">
					<span @click.prevent="closeForm" class="closeInputForm"><i
						class="la la-close"></i></span>
					<div class="input-group">
						<div class="input-group m-input-group m-input-group--pill">
							<input type="text" class="form-control m-input" placeholder="Название" v-model.trim="category.name">
							<div class="input-group-append cursor-pointer" @click.prevent="save">
								<span class="input-group-text m--bg-accent"><i class="la la-plus text-white"></i></span>
							</div>
						</div>
					</div>
				</div>
			</transition>
			<table class="table m-table w-100 categories__table">
				<tr v-for="(category, index) in categories" :key="index">
					<td>{{ category.name }}</td>
					<td class="text-right">
						<button class="btn btn-info m-btn--icon m-btn m-btn--pill m-btn--icon-only btn-sm"
						        @click.prevent="edit(index)">
							<i class="la la-pencil"></i>
						</button>
						<button class="btn btn-danger m-btn--icon m-btn m-btn--pill m-btn--icon-only btn-sm"
						        @click.prevent="remove(index)">
							<i class="la la-trash-o"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
	export default {
		name: "CategoriesCrud",
		data: () => ({
			categories: [],
			category: {},
			form: null,
		}),
		created () {
			this.categories = Vue.$store.categories.all;
		},
		methods: {
			save () {
				if ( Object.keys( this.category ).length === 0 || this.category.name === "" ) return;
				mApp.block( "#offcanvas" );
				const rr = this.form === 'store' ? route( 'async.categories.' + this.form ) : route( 'async.categories.' + this.form, this.category );
				axios[ this.form === 'store' ? 'post' : 'put' ]( rr, this.category ).then( r => {
					if ( this.form === 'store' ) {
						this.category.id = r.data.id;
						this.categories.unshift( this.category );
					} else {
						this.categories[ this.categories.indexOf( this.category ) ] = this.category;
					}
					Vue.$store.categories.set( this.categories );
					this.form = null;
					this.category = {};
					mApp.unblock( "#offcanvas" );
				} ).catch( e => {
					mApp.unblock( "#offcanvas" );
				} );
			},
			edit ( index ) {
				this.category = this.categories[ index ];
				this.form = 'update';
			},
			closeForm () {
				this.form = null;
				this.category = {};
			},
			remove ( index ) {
				const category = this.categories[ index ];
				if ( window.confirm( `Вы уверены что хотите удалить категорию "${ category.name }"?` ) ) {
					mApp.block( "#offcanvas" );
					axios.delete( route( 'async.categories.destroy', category.id ) ).then( r => {
						this.categories.splice( category, 1 );
						Vue.$store.categories.set( this.categories );
						mApp.unblock( "#offcanvas" );
					} ).catch( e => {
						mApp.unblock( "#offcanvas" );
					} )
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
	.categories__table {
		tr {
			td {
				vertical-align: middle;
			}
		}
	}

	.categoryInput {
		position: fixed;
		left: 17%;
		z-index: 3;

		.closeInputForm {
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
		}
	}

</style>