<template>
	<div class="m-portlet m-portlet--fit m-portlet--accent m-portlet--head-solid-bg m-portlet--head-sm">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon">
					<i class="la la-bar-chart"></i>
				</span>
					<h3 class="m-portlet__head-text">
						Статистика
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">

			</div>
		</div>
		<div class="m-portlet__body">
			<div class="m-widget21" style="min-height: 280px">
				<div class="row">
					<div class="col">
						<div class="m-widget21__item m--pull-left">
								<span class="m-widget21__icon">
									<a href="#"
									   class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
										<i class="fa flaticon-coins m--font-light m--font-light"></i>
									</a>
								</span>
							<div class="m-widget21__info">
									<span class="m-widget21__title">
										Profit
									</span><br>
									<span class="m-widget21__sub">
									Expenses, Loses, Profits
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="m-widget21__chart m-portlet-fit--sides" style="height:210px;">
					<canvas ref="canvas" class="chartjs-render-monitor"></canvas>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name: "Inventory",
		data: () => ({
			chart: null,
			data: [ 1500, 0, 230, 855, 45, 168, 15, 1, 965, 0, 478, 168, 58 ]
		}),
		mounted () {
			this.init();
		},
		methods: {
			init () {
				const self = this;
				this.chart = new Chart( this.$refs.canvas, {
					type: 'bar',
					data: {
						labels: self.$helpers.monthNames(),
						datasets: [
							{
								label: "Прибыль",
								borderColor: 'RGB(255, 175, 31)',
								backgroundColor: '#5BC5DC',
								pointHoverRadius: 10,
								fill: true,
								data: self.data,
							}
						]
					},
					options: {
						legend: {
							display: false
						},
						responsive: true,
						maintainAspectRatio: false,
						hover: {
							mode: "index"
						},
						scales: {
							xAxes: [ {
								display: false,
								gridLines: false,
								scaleLabel: {
									display: true,
									labelString: 'Месяц'
								}
							} ],
							yAxes: [ {
								display: false,
								gridLines: false,
								scaleLabel: {
									display: false,
									labelString: 'Сумма'
								},
								ticks: {
									beginAtZero: true
								}
							} ]
						},
						elements: {
							line: {
								tension: 0.0000001
							},
							point: {
								radius: 1,
								borderWidth: 5,
								borderColor: "#FFFFFF"
							}
						},
						layout: {
							padding: {
								left: 20,
								right: 20,
								top: 20,
								bottom: 20
							}
						},
					}
				} );
			}
		}
	}
</script>

<style scoped>

</style>