<template>
	<div class="m-portlet m-portlet--full-height m-portlet--skin-light m-portlet--fit shadow-none">
		<div class="m-portlet__head h-auto">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{ trans('Profit') }}
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools pt-3">
				<div class="row">
					<div class="col">
						<div class="form-group mr-3">
							<select class="select" v-model="type" data-width="220px">
								<option :value="key"
								        v-for="(item, key) in types"
								        :key="key">{{trans(item)}}
								</option>
							</select>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<select class="select" v-model="dates.selected" data-width="100px">
								<option :value="dates.start">{{dates.start}}</option>
								<option :value="Number(dates.start) + Number(year)"
								        v-for="(year, key) in (dates.end - dates.start)"
								        :key="key">{{Number(dates.start) + Number(year)}}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ref="graphContainer" class="m-portlet__body">
			<div class="m-widget21" style="min-height: 420px">
				<div class="row" v-if="data">
					<div class="col">
						<div class="m-widget21__item m--pull-left">
                            <span class="m-widget21__icon">
                                <a href="#"
                                   class="btn btn-warning m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                    <i class="fa flaticon-coins m--font-light m--font-light"></i>
                                </a>
                            </span>
							<div class="m-widget21__info">
                                <span class="m-widget21__title">
                                    {{ trans('Total') }}
                                </span><br>
								<span class="m-widget21__sub">{{ trans('Total amount') }}.</span>
								<div class="m-widget21__number m--font-warning h4" v-if="month !== null">{{month}}</div>
								<div class="m-widget21__number m--font-warning h1">{{prices.total !== null ?
									prices.total :
									calculatePrices(totalProfit) }}
										<span v-html="$store.currency.symbol"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="m-widget21__item m--pull-left">
                            <span class="m-widget21__icon">
                                <a href="#"
                                   class="btn btn-accent m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                    <i class="fa flaticon-piggy-bank m--font-light m--font-light"></i>
                                </a>
                            </span>
							<div class="m-widget21__info">
                                <span class="m-widget21__title">
                                    {{ trans('Paid deals') }}
                                </span><br>
								<span class="m-widget21__sub">{{ trans('Amount of paid deals') }}.</span>
								<div class="m-widget21__number m--font-accent h4" v-if="month !== null">{{month}}</div>
								<div class="m-widget21__number m--font-accent h1">{{prices.paid !== null ? prices.paid :
									calculatePrices(data.Completed)}}
										<span v-html="$store.currency.symbol"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col m--align-left">
						<div class="m-widget21__item m--pull-right">
                            <span class="m-widget21__icon">
                                <a href="#"
                                   class="btn btn-danger m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                    <i class="fa flaticon-exclamation-1 m--font-light"></i>
                                </a>
                            </span>
							<div class="m-widget21__info">
								<span class="m-widget21__title">{{ trans('Not paid') }}</span><br>
								<span class="m-widget21__sub">{{ trans('Amount of unpaid deals') }}.</span>
								<div class="m-widget21__number m--font-danger h4" v-if="month">{{month}}</div>
								<div class="m-widget21__number m--font-danger h1">{{prices.notpaid !== null ?
									prices.notpaid :
									calculatePrices(data['Not paid'])}}
										<span v-html="$store.currency.symbol"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-widget21__chart m-portlet-fit--sides" style="height:310px;">
					<canvas ref="profitChart"></canvas>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	export default {
		name: "ProfitChart",
		props: [ 'options' ],
		data: () => ({
			chart: null,
			data: null,
			month: null,
			prices: {
				total: null,
				paid: null,
				notpaid: null
			},
			dates: {
				start: moment(window.appStarts.date).format( "YYYY" ),
				end: moment().format( 'YYYY' ),
				selected: moment().format( 'YYYY' ),
			},
			types: {
				start: "According to the date start of deals",
				end: "According to the date end of deals",
				paid_at: "According to the payment"
			},
			type: 'paid_at',
		}),
		watch: {
			"dates.selected" ( value ) {
				this.getData();
			},
			type () {
				this.getData();
			}
		},
		created () {
			this.getData( moment(window.appStarts.date).format( "YYYY" ) );
		},
		mounted () {
			$( '.select' ).selectpicker( { language: window.appLocale } )
		},
		computed: {
			totalProfit () {
				if ( this.data ) {
					return this.data['Completed'].map( ( item, index ) => {
						return Number( (item + this.data['Not paid'][ index ]).toFixed( 2 ) );
					} );
				}
			}
		},
		methods: {
			renderChart () {
				const self = this;
				this.chart = new Chart( this.$refs.profitChart, {
					type: 'line',
					data: {
						labels: moment.monthsShort(),
						datasets: [
							{
								label: "Общее",
								borderColor: 'RGB(255, 175, 31)',
								backgroundColor: 'RGB(255, 175, 31,0.5)',
								pointHoverRadius: 10,
								fill: false,
								data: self.totalProfit,
							},
							{
								label: "Оплаченные",
								borderColor: '#00ddf6',
								backgroundColor: 'RGB(255, 175, 31,0.5)',
								pointHoverRadius: 10,
								fill: false,
								data: self.data['Completed'],
							},
							{
								label: "Не оплаченные",
								borderColor: '#FE0E55',
								pointHoverRadius: 10,
								fill: false,
								data: self.data['Not paid'],
							}
						]
					},
					options: {
						title: {
							display: false,
						},
						events: [ "mousemove", "mouseout", "click", "touchstart", "touchmove", "touchend" ],
						tooltips: {
							intersect: false,
							mode: 'nearest',
							xPadding: 10,
							yPadding: 10,
							caretPadding: 10,
							callbacks: {
								afterFooter ( tooltipItems, data ) {
									self.month = tooltipItems[ 0 ].xLabel;
									self.prices.total = self.totalProfit[ tooltipItems[ 0 ].index ];
									self.prices.paid = self.data['Completed'][ tooltipItems[ 0 ].index ];
									self.prices.notpaid = self.data['Not paid'][ tooltipItems[ 0 ].index ];
								},
							},
							custom: function ( tooltipModel ) {
								if ( tooltipModel.body === undefined ) {
									self.month = null;
									self.prices.total = null;
									self.prices.paid = null;
									self.prices.notpaid = null;
								}
							}
						},

						legend: {
							display: false
						},
						responsive: true,
						maintainAspectRatio: false,
						hover: {
							mode: "index"
						},
						scales: {
							xAxes: [ {
								display: false,
								gridLines: false,
								scaleLabel: {
									display: true,
									labelString: 'Месяц'
								}
							} ],
							yAxes: [ {
								display: false,
								gridLines: false,
								scaleLabel: {
									display: true,
									labelString: 'Сумма'
								},
								ticks: {
									beginAtZero: true
								}
							} ]
						},
						elements: {
							line: {
								tension: 0.0000001
							},
							point: {
								radius: 1,
								borderWidth: 5,
								borderColor: "#FFFFFF"
							}
						},
						layout: {
							padding: {
								left: 20,
								right: 20,
								top: 20,
								bottom: 20
							}
						},
					}
				} );
			},
			getData () {
				mApp.block( this.$refs.graphContainer );
				axios.get( route( 'async.statistics.year', { "year": this.dates.selected, "type": this.type } ), ).then( r => {
					if ( r.status === 200 ) {
						this.data = r.data;
						this.reloadChart();
						mApp.unblock( this.$refs.graphContainer );
					}
				} );
			},
			reloadChart () {
				if ( this.chart ) {
					this.chart.destroy();
				}
				this.renderChart();
			},
			calculatePrices ( data ) {
				return Number( data.reduce( ( a, b ) => a + b, 0 ) ).toFixed( 2 );
			}
		}

	}
</script>

<style scoped>

</style>