@import "vue-transition";

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  //-webkit-font-smoothing: initial;
  background-color: #F0F1F6 !important;
}

.bg-main {
  background-color: #F0F1F6 !important;
}

@media (min-width: 1025px) {
  .m-aside-left {
	position: fixed;
	height: auto !important;
	backface-visibility: hidden;
	left: 0;
	z-index: 85;
  }
  .m-body {
	padding-left: 200px;
  }
  .m-portlet--sticky {
	.m-portlet__head {
	  left: 230px !important;
	}
  }
  .m-portlet--fullscreen {
	.m-portlet__body {
	  padding: 2.2rem 2.2rem !important;
	}
  }
}


.m-portlet--fullscreen {
  z-index: 9999 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.tt-menu {
  width: 100%;

  .tt-dataset {
	max-height: 300px;
	overflow-y: auto;
	width: 100%;

	.tt-suggestion {
	  &:hover {
		background-color: #cecece !important;
	  }
	}
  }
}

.attributes-table {
  tr {
	td {
	  &:nth-of-type(2) {
		width: 60%;
		background: #F2F3F8;
	  }
	}
  }
}

.table-container {
}

.settings__nav {
  display: flex;

  &__item {
	position: relative;
	width: calc(100% / 5);
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	i {
	  font-size: 32px;
	}
  }
}

.btn-main-dark {
  background: #2C2E3E;
  color: #ffffff;

  &:hover {
	color: #ffffff;
	background: #1e202f;
  }
}

.bg-main-dark {
  background: #2C2E3E;
  color: #ffffff;
}

.offline-notification {
  transition: all 0.5s;
  color: #61D39F;
}

.m-aside-menu {
  .m-menu__item > a {
	position: relative;

	&.lock {
	  &:after {
		font-family: LineAwesome;
		color: #9e514c;
		content: "\f360";
		position: absolute;
		top: 5px;
		right: 25px;
	  }
	}


  }
}

#logoarrows.rotate {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@keyframes rotating {
  to {
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

.clock_wrapper {
  position: relative;
}

$clock-di: 160px;
.dashboard_clock {
  width: $clock-di;
  height: $clock-di;
  //background: #222;
  border-radius: 50%;
  //position: absolute;
  //top: 50%; left: 50%; transform: translate3d(-50%,-50%,0);
  div {
	position: absolute;
	transform-origin: 50% 0;
  }

  &::after {
	position: absolute;
	content: '';

	$radius: 12px;
	width: $radius;
	padding-bottom: $radius;
	background-color: white;
	border-radius: 50%;
	top: calc(50% - #{$radius/2});
	left: calc(50% - #{$radius/2});
	z-index: 999;
  }


  @mixin hand($r, $h) {
	height: $h;
	top: 50%;
	left: calc(50% - #{$r});
	z-index: 1;
	border-left: $r solid white;
	border-right: $r solid white;
	border-radius: 0 0 $r $r;
  }

  #second-hand {
	@include hand(1px, 45%);
  }

  #minute-hand {
	@include hand(2px, 40%);
  }

  #hour-hand {
	@include hand(3px, 30%);
  }


  .ticks span {
	$h: 12px;
	position: absolute;
	display: block;
	height: 2px;
	width: $h;
	background: #444;
	transform-origin: 50% 0%;
	left: calc(50% - #{$h/2});
	top: 50%;
	@for $i from 1 through 60 {
	  &:nth-child(#{$i}) {
		transform: rotate(($i/60) * 360deg) translateX($clock-di/2 - $h);
		// hour marker
		@if $i % 5 == 0 {
		  background: white;
		}
	  }
	}
  }
}


@mixin animate-hand($start) {
  $ratio: $start / 60;
  $deg: $ratio * 360;
  $start-deg: $deg - 180 * 1deg;
  $end-deg: $start-deg + 360;
  @keyframes animate-hand-#{$start} {
	from {
	  transform: rotate($start-deg)
	}
	to {
	  transform: rotate($end-deg)
	}
  }
}

@mixin animate-hour-hand($start) {
  $ratio: $start / 12;
  $deg: $ratio * 360;
  $start-deg: $deg - 180 * 1deg;
  $end-deg: $start-deg + 360;
  @keyframes animate-hour-hand-#{$start} {
	from {
	  transform: rotate($start-deg)
	}
	to {
	  transform: rotate($end-deg)
	}
  }
}

@for $i from 0 through 59 {
  @include animate-hand($i);
  @include animate-hour-hand($i);
  .sh-#{$i} {
	animation: animate-hand-#{$i} 60s linear infinite;
  }
  .mh-#{$i} {
	animation: animate-hand-#{$i} 60 * 60s linear infinite;
  }
  .hh-#{$i} {
	animation: animate-hour-hand-#{$i} 60 * 60 * 24s linear infinite;
  }
}

.dashboard_clock__digital {
  width: 100%;
  left: 0;
  color: #fff;
  font-weight: bolder;
  font-size: 18px;
  text-align: right;
}

.today-date {
  width: 100%;
  color: #fff;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 36px;
}

.timezone-w {
  width: 100%;
  color: #fff;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 18px;
}

.w-client-status {
  span {
	width: 100px;
  }
}

.new-feature {
  position: relative;

  &:before {
	position: absolute;
	top: -5px;
	right: -10px;
	padding: 2px 5px 1px 5px;
	font-size: 8px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	border-radius: 5px;
	background: #7819ff;
	content: attr(data-content);
  }
}