<template>
	<div class="m-portlet m-portlet--responsive-mobile m-portlet--brand m-portlet--head-solid-bg">
		<div class="m-portlet__head">
			<div class="m-portlet__head-wrapper">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<span class="m-portlet__head-icon"><i class="flaticon-safe-shield-protection"></i></span>
						<h3 class="m-portlet__head-text">
							{{ trans("Roles and permissions") }}
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<div class="row">
						<div class="col">
							<select class="select" data-style="bg-secondary text-dark" :title="trans('Nothing selected')"
							        v-model="selectedRole">
								<option
									v-for="(role, key) in roles"
									:value="role.id"
									:key="key">
									{{trans(role.name)}}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-portlet__body" ref="perms_block">
			<div class="m-scrollable perms_block"  data-scrollbar-shown="true" data-scrollable="true" data-height="350"
			     data-mobile-max-height="200">
				<form ref="perms_form">
					<ul class="list-group">
						<li v-for="(permission, key) in permissions" :key="key"
						    class="list-group-item d-flex align-items-center justify-content-between mb-1 shadow-sm">
							<span>{{ trans(permission.name) }}</span>
							<div class="text-right" style="min-height: 30px;">
										<span
											class="m-switch m-switch--outline m-switch--icon m-switch--success m-switch--sm d-flex align-items-center justify-content-center">
											<label class="m-0">
												<input type="checkbox" :name="permission.id" :class="'permcheckbox check_' + permission.id"
												       :value="true" @change="attach" :disabled="selectedRole === null">
												<span></span>
											</label>
										</span>
							</div>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "RolesAndPermissions",
		props: [ 'propRoles', 'propPermissions' ],
		data: () => ({
			roles: [],
			permissions: [],
			selectedRole: null,
		}),
		created () {
			this.roles = this.propRoles;
			this.permissions = this.propPermissions;
		},
		mounted () {
			this.$helpers.scroll( '.perms_block' );
			$( '.select' ).selectpicker();
		},
		watch: {
			selectedRole ( id ) {
				const role = this.roles.find( x => x.id == id );
				$( ".permcheckbox" ).prop( 'checked', false );
				for ( let perm of role.permissions ) {
					$( ".check_" + perm.id ).prop( 'checked', true );
				}
			}
		},
		methods: {
			attach () {
				if ( this.selectedRole === null ) return;
				mApp.block( this.$refs.perms_block );
				const permissions = $( this.$refs.perms_form ).serialize();
				axios.put( route( 'async.permission.to.role', { role: this.selectedRole } ), permissions ).then( r => {
					const role = r.data.role;
					this.roles.find( x => x.id == role.id ).permissions = role.permissions;
					mApp.unblock( this.$refs.perms_block );
				} ).catch( e => mApp.unblock( this.$refs.perms_block ) );
			}
		}
	}
</script>