<template>
		<div id="completeDealContainer">
				<div class="modal fade" id="completeModal" ref="completeModal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog" role="document">
								<div class="modal-content">
										<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">
														{{ trans('Please clarify the transaction information') }}.
												</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
												</button>
										</div>
										<div class="modal-body">
												<div class="form-group">
														<label class="m-form__label form-control-label">{{ trans('Payment date') }}</label>
														<input type="text" id="dealdateInput"
														       class="form-control m-input--solid m-input--pill dateTimeInput"
														       v-model="deal.paid_at"
														       ref="closedDate"
														       :placeholder="trans('Payment date')">
												</div>
												<div class="row">
														<div class="col-md-6">
																<div class="form-group">
																		<label class="m-form__label form-control-label">{{ trans('Final price') }}</label>
																		<div class="m-input-icon m-input-icon--right">
																				<input type="text" class="form-control m-input--solid m-input--pill"
																				       v-model="deal.price" @input="calculateSale">
																				<span class="m-input-icon__icon m-input-icon__icon--right"><span><i v-html="$store.currency.symbol"></i></span></span>
																		</div>
																		<span class="m-form__help m--font-bolder">{{ trans('Without sale') }}:
																				<span class="m--font-brand">{{deal.realprice}}
																						<span v-html="$store.currency.symbol"></span>
																				</span>
																		</span>
																</div>
														</div>
														<div class="col-md-6">
																<div class="form-group">
																		<label class="m-form__label form-control-label">{{ trans('Sale') }}</label>
																		<div class="m-input-icon m-input-icon--right">
																				<input type="text" class="form-control m-input--solid m-input--pill"
																				       v-model="deal.sale" @input="calculatePrice">
																				<span class="m-input-icon__icon m-input-icon__icon--right"><span><i>%</i></span></span>
																		</div>
																</div>
														</div>
												</div>
												<div class="row mt-5">
														<div class="col-12 py-0">
																<label>{{ trans('Manager profit') }}</label>
														</div>
														<div class="col-md-12 d-flex align-items-center">
																<div class="m-form__group form-group pt-2">
																		<div class="m-radio-inline">
																				<label class="m-radio m-radio--bold m-radio--state-info mtooltip"
																				       data-skin="dark"
																				       data-toggle="m-tooltip"
																				       data-placement="bottom"
																				       :data-original-title="trans('Percentage from the deal')">
																						<input type="radio" value="percent" v-model="deal.manager_profit_type">
																						<i class="flaticon-">%</i>
																						<span></span>
																				</label>
																				<label class="m-radio m-radio--bold m-radio--state-danger mtooltip"
																				       data-skin="dark"
																				       data-toggle="m-tooltip"
																				       data-placement="bottom"
																				       :data-original-title="trans('Amount from the deal')">
																						<input type="radio" value="fix" v-model="deal.manager_profit_type">
																						<i class="flaticon-coins"></i>
																						<span></span>
																				</label>
																				<label class="m-radio m-radio--bold m-radio--state-focus mtooltip"
																				       data-skin="dark"
																				       data-toggle="m-tooltip"
																				       data-placement="bottom"
																				       :data-original-title="trans('Additional income')">
																						<input type="radio" value="fixfromdeal" v-model="deal.manager_profit_type">
																						<i class="flaticon-piggy-bank"></i>
																						<span></span>
																				</label>
																		</div>
																</div>
																<transition name="fade">
																		<div class="form-group pl-3"
																		     v-if="deal.manager_profit_type === 'fix' || deal.manager_profit_type === 'fixfromdeal'">
																				<div class="m-input-icon m-input-icon--right">
																						<input type="text" class="form-control m-input--solid m-input--pill"
																						       style="width: 100px; height: 35px;"
																						       v-model="deal.manager_profit">
																						<span class="m-input-icon__icon m-input-icon__icon--right m--font-boldest"><span><i
																						v-html="$store.currency.symbol"></i></span></span>
																				</div>
																		</div>
																</transition>
														</div>
												</div>
												<div class="row mt-3">
														<div class="col-12 py-0">
																<label class="m-form__label form-control-label">{{ trans('Payment') }}</label>
														</div>
														<div class="col-md-12">
																<div class="m-form__group form-group">
																		<div class="m-checkbox-inline">
																				<label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
																						<input type="checkbox" v-model="payment"> {{ trans('Not paid') }}
																						<span></span>
																				</label>
																		</div>
																</div>
														</div>
												</div>
										</div>
										<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ trans('Reject') }}
												</button>
												<button type="button" class="btn btn-primary" @click.prevent="saveDealData">
														{{ trans('Confirm') }}
												</button>
										</div>
								</div>
						</div>
				</div>
		</div>
</template>

<script>

	export default {
		name: "ModalCompleteDeal",
		data: () => ({
			deal: {
				closed_at: moment().format( "YYYY-MM-DD HH:mm" ),
				status: "Completed",
				manager_profit_type: 'percent',
				manager_pofit: 0,
			},
		}),
		computed: {
			payment: {
				get () {
					return this.deal.status !== "Completed";
				},
				set ( newValue ) {
					this.deal.status = newValue ? "Not paid" : "Completed";
				}
			}
		},
		mounted () {
			this.lookDate();
			this.modalEvent();
			$( '.mtooltip' ).tooltip();
		},
		methods: {
			calculatePrice () {
				this.deal.price = Number(
					this.deal.realprice - (this.deal.realprice * this.deal.sale) / 100
				).toFixed( 1 );
			},
			calculateSale () {
				this.deal.sale = Number( 100 - (this.deal.price * 100) / this.deal.realprice ).toFixed( 1 );
			},
			lookDate () {
				$( this.$refs.closedDate ).datetimepicker( {
					format: "yyyy-mm-dd hh:ii",
					autoclose: true,
					todayBtn: false,
					todayHighlight: true
				} )
					.on( "changeDate", e => {
						this.deal.paid_at = moment( e.date.valueOf() ).format( "YYYY-MM-DD HH:mm" );
					} );
			},
			modal ( action ) {
				$( this.$refs.completeModal ).modal( action );
			},
			modalEvent () {
				$( this.$refs.completeModal ).on( "hide.bs.modal", ( e ) => {

				} );
			},
			setDeal ( deal ) {
				deal.status = deal.status == 'Active' ? 'Completed' : deal.status;
				deal.paid_at = deal.paid_at === null ? moment().format( "YYYY-MM-DD HH:mm" ) : deal.paid_at;
				this.deal = deal;
			},
			saveDealData () {
				axios.put( route( 'async.deals.close', this.deal.id ), this.deal ).then( () => {
					this.modal( "hide" );
					this.$emit( 'success', this.deal );
				} ).catch( e => this.$emit( 'failed', e ) );
			}
		}
	}
</script>

<style scoped>

</style>