<template>
		<div>
				<div class="row mb-5">
						<div class="col-md-4 mb-2 mb-sm-0">
								<input type="text" class="form-control m-input bg-secondary" v-model.trim.lazy="search"
								       :placeholder="trans('Search') + '...'">
						</div>
						<!--<div class="col-md-2 mb-2 mb-sm-0">-->

						<!--</div>-->
						<div class="col-md-2">
								<select class="select" data-width="100%" data-style="bg-secondary text-dark" v-model="status"
								        :title="trans('Status')">
										<option :value="null" class="text-center"
										        :data-content="`<span class='m-badge m-badge--wide m-badge--metal text-dark'>${trans('All')}</span>`">
												{{ trans('All') }}
										</option>
										<option :value="status" v-for="status in propStatuses" :key="status"
										        class="text-center"
										        :data-content="`<span class='m-badge m-badge--wide m-badge--${trans('classes.' + status)}'>${trans(status)}</span>`">
												{{ trans(status) }}
										</option>
								</select>
						</div>
						<div class="col-md-2">
								<export classes="btn-outline-brand new-feature" :endpoints="{excel:'/export/deals'}"
								        filename="deals"></export>
						</div>
				</div>
				<div ref="table">
						<div class="row">
								<div class="col" v-if="items.data.length > 0">
										<div class="table-responsive">
												<table ref="footable"
												       class="table m-table m-table--head-separator-info table-striped table-bordered table-hover border">
														<thead>
														<tr>
																<th>#</th>
																<th>{{ trans("Document ID") }}</th>
																<th>{{ trans("Customer") }}</th>
																<th>{{ trans("Items") }}</th>
																<th>{{ trans("Date") }}</th>
																<th>{{ trans("Status") }}</th>
																<th>{{ trans("Actions") }}</th>
														</tr>
														</thead>
														<transition-group tag="tbody" name="fade">
																<tr v-for="item in items.data" :key="item.id">
																		<td style="width: 5%;">{{ item.id }}</td>
																		<td style="width: 10%;">
																				<a :href="route('deals.show', item.id)"
																				   class="m-link tltip font-weight-bold"
																				   data-toggle="m-tooltip"
																				   data-html="true"
																				   :data-original-title="item.cost"
																				>
																						{{ item.hash }}
																				</a>
																		</td>
																		<td>
																				<a v-if="item.client.id > 0" :href="route('clients.show', item.client.id)"
																				   class="m-link tltip font-weight-bold"
																				   data-toggle="m-tooltip"
																				   data-html="true"
																				   :data-original-title="$helpers.badge(item.client.status)">
																						{{ item.client.name }}
																				</a>
																				<span class="text-muted" v-else>{{ trans('Missing') }}</span>
																		</td>
																		<td style="width: 20%;">
																				<a v-if="item.items.length > 0" v-for="inv in item.items" :href="route('inventory.show', inv.id)"
																				   class="m-link d-inline-block tltip mr-2 font-weight-bold"
																				   data-toggle="m-tooltip"
																				   data-html="true"
																				   :data-original-title="inv.cost"
																				>
																						{{ inv.name }}
																				</a>
																				<span class="text-muted" v-else>{{ trans('Missing') }}</span>
																		</td>
																		<td>
																				<span class="d-block"><span class="m-badge m-badge--wide m-badge--info font-weight-bold">{{ trans('From') }}: {{moment(item.start).format('DD MMMM YYYY - HH:mm') }}</span></span>
																				<span class="d-block"><span class="m-badge m-badge--wide m-badge--danger font-weight-bold">{{ trans('To') }}: {{moment(item.end).format('DD MMMM YYYY - HH:mm') }}</span></span>
																		</td>
																		<td>
																				<span :class="'m-badge m-badge--wide m-badge--' + trans('classes.' + item.status)">{{trans(item.status)}}</span>
																		</td>
																		<td>
																				<a href="javascript:;"
																				   class="m-portlet__nav-link text-dark btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill completeDealButton"
																				   @click.prevent="closeDeal(item)">
																						<i class="fa fa-check-circle"></i>
																				</a>
																				<a :href="route('deals.edit',item.id)"
																				   class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
																				   title="Редактировать">
																						<i class="la la-pencil"></i>
																				</a>
																				<async-delete-btn
																								class="btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
																								:url="route('deals.destroy', item.id)"
																								@before="mApp.block($refs.table)"
																								@success="items.data.splice(items.data.indexOf(item),1)"
																								@after="mApp.unblock($refs.table)">
																						<i class="la la-trash"></i>
																				</async-delete-btn>
																		</td>
																</tr>
														</transition-group>
												</table>
										</div>
								</div>
								<div class="col py-5 text-center" v-else>
										<p class="text-center text-muted">{{ trans("No records") }}</p>
								</div>
						</div>
						<div class="row">
								<div class="col pt-5">
										<pagination align="right" :data="items" @pagination-change-page="get"></pagination>
								</div>
						</div>
				</div>
				<ModalCompleteDeal ref="completeDealModal" @success="setNewDeal"></ModalCompleteDeal>
		</div>
</template>

<script>
	import ModalCompleteDeal from './modal-complete_deal'

	export default {
		name: "Table",
		props: [ 'propStatuses' ],
		components: { ModalCompleteDeal },
		data: () => ({
			items: { data: [] },
			search: null,
			status: null
		}),
		created () {
			this.get();
		},
		mounted () {
			$( ".select" ).selectpicker();
		},
		watch: {
			search () {
				this.get();
			},
			category () {
				this.get();
			},
			status () {
				this.get();
			}
		},
		methods: {
			get ( page = 1 ) {
				mApp.block( this.$refs.table );
				axios.post( route( 'async.deals.all' ) + '?page=' + page, {
					status: this.status,
					search: this.search,
				} ).then( r => {
					this.items = r.data;
					this.$store.loader = false;
					mApp.unblock( this.$refs.table );
				} ).then( () => {
					$( '.tltip' ).tooltip();
				} );
			},
			setNewDeal ( item ) {
				for ( let deal in this.items.data ) {
					if ( this.items.data[ deal ].id === item.id ) {
						this.items.data[ deal ].status = item.status;
						this.items.data[ deal ].paid_at = item.paid_at;
						this.items.data[ deal ].manager_profit = item.manager_profit;
						this.items.data[ deal ].manager_profit_type = item.manager_profit_type;
						this.items.data[ deal ].sale = item.sale;
						this.items.data[ deal ].realprice = item.realprice;
						this.items.data[ deal ].price = item.price;
					}
				}
			},
			closeDeal ( item ) {
				this.$refs.completeDealModal.setDeal( Object.assign( {}, item ) );
				this.$refs.completeDealModal.modal( 'show' );
			}
		}
	}
</script>

<style lang="scss" scoped>
		table {

				tr {
						th {
								text-align: center;
								font-size: 14px;
								padding: 10px 10px;
						}

						td {
								height: 50px;
								padding: 10px 10px;
								text-align: center;
								vertical-align: middle;
						}
				}
		}
</style>