<template>
		<li
						class="m-nav__item m-topbar__notifications m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
						id="notificationsdropdown"
						m-dropdown-toggle="click" m-dropdown-persistent="1">
				<a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
			<span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"
			      v-if="newNotficications.length > 0"></span>
						<span class="m-nav__link-icon"><span class="m-nav__link-icon-wrapper "><i
										:class="['flaticon-alarm',{shake:newNotficications.length > 0}] "></i></span></span>
				</a>
				<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
						<div class="m-dropdown__inner">
								<div class="m-dropdown__header m--bg-brand text-white m--align-center">
										<span class="m-dropdown__header-title display-1">{{ newNotficications.length }}</span>
										<span class="m-dropdown__header-subtitle">{{ trans("Notifications") }}</span>
								</div>
								<div class="m-dropdown__body">
										<div class="m-dropdown__content">
												<div class="m-scrollable notifications-list" id="notifications-list" data-scrollable="true"
												     data-height="250"
												     data-mobile-height="200">
														<div class="m-list-timeline m-list-timeline--skin-light">
																<div class="m-list-timeline__items">
																		<transition-group name="slideDown">
																				<div
																								v-for="notification in notifications"
																								:key="notification.id"
																								:data-id="notification.id"
																								:class="['m-list-timeline__item notification-item', {'m-list-timeline__item--read':notification.read_at}]">
																						<span :class="'m-list-timeline__badge m-list-timeline__badge--' + notification.data.state "></span>
																						<span class="m-list-timeline__text">{{ $transRegex(notification.data.message) }}</span>
																						<span class="m-list-timeline__time">
																							{{ moment.duration(- moment().diff(notification.created_at,"minutes"), "minutes").humanize(true) }}
																						</span>
																				</div>
																		</transition-group>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</li>
</template>

<script>
	export default {
		name: "NotificationsBar",
		props: [ 'propNotifications' ],
		data: () => ({
			notifications: [],
			queue: [],
			waypoint: null,
			audio: null
		}),
		created () {
			this.notifications = this.propNotifications;
		},
		mounted () {
			this.$helpers.scroll( '.notifications-list' );
			const dropdown = new mDropdown( 'notificationsdropdown' );
			dropdown.on( "afterHide", () => this.markAsRead() );
			this.listenNewForNotifications();

		},
		computed: {
			newNotficications () {
				return this.notifications.filter( x => x.read_at === null );
			}
		},
		methods: {
			markAsRead () {
				if ( this.newNotficications.length <= 0 ) return;
				axios.put( route( 'async.notifications.markAsRead' ), this.newNotficications ).then( r => {
					this.newNotficications.map( i => {
						this.notifications.map( x => {
							if ( x.id === i.id ) {
								x.read_at = moment();
							}
						} )
					} )
				} );
			},
			listenNewForNotifications () {
				window.Echo.private( `app.notification.${ user.id }.${ tenant.id }` )
					.notification( notification => {
						this.notifications.unshift( notification );
						this.$sound.play( 'notify' );
					} );
			},
		}

	}
</script>

<style scoped>
		.shake {
				animation: bell-shake 6s ease infinite;
		}

		@keyframes bell-shake {
				0% {
						transform: rotate(0);
				}
				1% {
						transform: rotate(30deg);
				}
				3% {
						transform: rotate(-28deg);
				}
				5% {
						transform: rotate(34deg);
				}
				7% {
						transform: rotate(-32deg);
				}
				9% {
						transform: rotate(30deg);
				}
				11% {
						transform: rotate(-28deg);
				}
				13% {
						transform: rotate(26deg);
				}
				15% {
						transform: rotate(-24deg);
				}
				17% {
						transform: rotate(22deg);
				}
				19% {
						transform: rotate(-20deg);
				}
				21% {
						transform: rotate(18deg);
				}
				23% {
						transform: rotate(-16deg);
				}
				25% {
						transform: rotate(14deg);
				}
				27% {
						transform: rotate(-12deg);
				}
				29% {
						transform: rotate(10deg);
				}
				31% {
						transform: rotate(-8deg);
				}
				33% {
						transform: rotate(6deg);
				}
				35% {
						transform: rotate(-4deg);
				}
				37% {
						transform: rotate(2deg);
				}
				39% {
						transform: rotate(-1deg);
				}
				41% {
						transform: rotate(1deg);
				}
				43% {
						transform: rotate(0);
				}
				100% {
						transform: rotate(0);
				}
		}
</style>