<template>
	<textarea :name="name" ref="editor" cols="30" rows="10">{{content}}</textarea>
</template>

<script>
	import 'trumbowyg/dist/trumbowyg.min.js';
	import 'trumbowyg/dist/plugins/colors/trumbowyg.colors.min';

	export default {
		name: "Editor",
		props: {
			name: {
				type: String,
				default: "content"
			},
			propContent: {
				type: String,
				default: "",
			},
			propConfig: {
				type: Object,
				default: () => ({})
			}
		},
		data: () => ({
			editor: null,
			content: null,
			config: {
				svgPath: '/svg/icons.svg',
				hideButtonTexts: true
			}
		}),
		created () {
			this.content = this.propContent;
			this.config = Object.assign( this.config, this.propConfig );
		},
		mounted () {
			this.init();
			this.initEvents();
			this.editor.trumbowyg( 'html', this.content );
		},
		methods: {
			init () {
				this.editor = $( this.$refs.editor ).trumbowyg( this.config );
			},
			initEvents () {
				this.editor.on( "tbwchange", ( e ) => {
					this.content = this.editor.trumbowyg( 'html' );
				} );
			}
		}
	}
</script>

<style>
	@import '~trumbowyg/dist/ui/trumbowyg.min.css';
	@import '~trumbowyg/dist/plugins/colors/ui/trumbowyg.colors.min.css';
</style>