<template>
	<a href="javascript:void(0)"
	   :id="'async-delete-btn' + _uid" @click="remove">
		<slot></slot>
	</a>
</template>

<script>
	export default {
		name: "AsyncDeleteBtn",
		props: [ 'url', 'element' ],
		mounted () {
			$( "#async-delete-btn" + this._uid ).popover();
		},
		methods: {
			remove () {
				if ( confirm( this.trans( 'Are you sure?' ) ) ) {
					this.$emit( "before" );
					axios.delete( this.url ).then( r => {
						this.$emit( "success", r );
						this.$emit( "after" );
						if ( this.element ) {
							$( this.element ).hide( 'slow' ).delay( 500 ).remove();
						}
					} ).catch( e => {
						this.$emit( 'error', e );
						this.$emit( "after" );
					} );
				}
			}
		}
	}
</script>

<style scoped>

</style>