<template>
	<div>
		<div class="row mb-5">
			<div class="col-md-4 mb-2 mb-sm-0">
				<input type="text" class="form-control m-input bg-secondary" v-model.trim.lazy="search"
				       :placeholder="trans('Search') + '...'">
			</div>
			<div class="col-md-3">
				<select class="select" data-width="100%" data-style="bg-secondary text-dark" v-model="status"
				        :title="trans('Status')">
					<option :value="null" class="text-center"
					        :data-content="`<span class='m-badge m-badge--wide m-badge--metal text-dark'>${trans('All')}</span>`">
						{{
						trans('All') }}
					</option>
					<option :value="status" v-for="status in propStatuses" :key="status"
					        class="text-center"
					        :data-content="`<span class='m-badge m-badge--wide m-badge--${trans('classes.' + status)}'>${trans(status)}</span>`">
						{{ trans(status) }}
					</option>
				</select>
			</div>
		</div>
		<transition-group name="fade">
			<loader type="table" v-if="loader" key="loader"/>
			<div ref="table" v-else key="table">
				<div class="row">
					<div class="col" v-if="items.data.length > 0">
						<div class="table-responsive">
							<table ref="footable"
							       class="table m-table m-table--head-separator-info table-striped table-bordered table-hover border">
								<thead>
								<tr>
									<th>#</th>
									<th>{{ trans("Fullname") }}</th>
									<th>{{ trans("Images") }}</th>
									<th>{{ trans("Contacts") }}</th>
									<th>{{ trans("Passport") }} №</th>
									<th>{{ trans("Status") }}</th>
									<th>{{ trans("Actions") }}</th>
								</tr>
								</thead>
								<transition-group tag="tbody" name="fade">
									<tr v-for="item in items.data" :key="item.id">
										<td>{{ item.id }}</td>
										<td style="width: 20%;"><a :href="route('clients.show', item.id)" class="m-link">{{ item.name }}</a></td>
										<td style="width: 50px;">
											<img v-if="item.thumb" :src="item.thumb" class="img-fluid" alt="">
											<div v-else v-html="$helpers.fallbackImg()"></div>
										</td>
										<td style="width: 20%;">
											<span class="d-block">{{ item.email }}</span>
											<span class="d-block">{{ item.phone }}</span>
										</td>
										<td>{{ item.passport_number }}</td>
										<td>
											<span :class="'m-badge m-badge--wide m-badge--' + trans('classes.' + item.status)">{{trans(item.status)}}</span>
										</td>
										<td>
											<a :href="route('clients.edit',item.id)"
											   class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
											   title="Редактировать">
												<i class="la la-pencil"></i>
											</a>
											<async-delete-btn
												class="btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
												:url="route('clients.destroy', item.id)" @before="mApp.block($refs.table)"
												@success="items.data.splice(items.data.indexOf(item),1)" @after="mApp.unblock($refs.table)">
												<i class="la la-trash"></i>
											</async-delete-btn>
										</td>
									</tr>
								</transition-group>
							</table>
						</div>
					</div>
					<div class="col py-5 text-center" v-else>
						<p class="text-center">{{ trans("No records") }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col pt-5">
						<pagination align="right" :data="items" @pagination-change-page="get"></pagination>
					</div>
				</div>
			</div>
		</transition-group>
	</div>
</template>

<script>
	export default {
		name: "Table",
		props: [ 'propStatuses', 'propCategories' ],
		data: () => ({
			items: { data: [] },
			loader: true,
			search: null,
			status: null
		}),
		created () {
			this.get();
		},
		mounted () {
			$( ".select" ).selectpicker();
		},
		watch: {
			search () {
				this.get();
			},
			status () {
				this.get();
			}
		},
		methods: {
			get ( page = 1 ) {
				mApp.block( this.$refs.table );
				axios.post( route( 'async.clients.all' ) + '?page=' + page, {
					status: this.status,
					search: this.search,
				} ).then( r => {
					this.items = r.data;
					this.loader = false;
					mApp.unblock( this.$refs.table );
				} );
			},
		}
	}
</script>

<style lang="scss" scoped>
	table {

		tr {
			th {
				text-align: center;
				font-size: 14px;
				padding: 10px 10px;
			}

			td {
				height: 50px;
				padding: 10px 10px;
				text-align: center;
				vertical-align: middle;
			}
		}
	}
</style>