<template>
		<div class="dropdown">
				<button :class="'btn dropdown-toggle ' + classes " :data-content="trans('New')"
				        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="la la-download"></i> {{ trans('Export') }}
				</button>
				<div class="dropdown-menu">
						<a class="dropdown-item" href="#" v-if="endpoints.excel" @click.prevent="excel"><i
										class="la la-file-excel-o"></i>
								Excel</a>
				</div>
		</div>
</template>

<script>
	export default {
		name: "Export",
		props: {
			endpoints: {
				type: Object,
				default: () => ({
					excel: null,
				})
			},
			classes: {
				type: String,
				default: 'btn-outline-brand m-btn--icon'
			},
			filename: {
				type: String,
				defautl: "file"
			}
		},
		methods: {
			excel () {
				if ( this.endpoints.excel ) {
					axios( {
						url: this.endpoints.excel,
						method: 'GET',
						responseType: 'blob', // important
					} ).then( response => {
						const url = window.URL.createObjectURL( new Blob( [ response.data ] ) );
						const link = document.createElement( 'a' );
						link.href = url;
						link.setAttribute( 'download', this.filename + '.xlsx' );
						document.body.appendChild( link );
						link.click();
					} );
				}

			}
		}

	}
</script>

<style scoped>

</style>