<template>
	<div ref="dropzone" class="dropzone"
	     @click="openFileSelection"
	     @dragover="onDragOver"
	     @dragleave="onDragLeave"
	     @drop="onDrop"
	     :class="{hightlight: hightlight}"
	>
		<slot>
			<div class="title">{{ trans("Drop files here or click to upload") }}.</div>
			<div class="description">
				{{ trans('Max.') }}: {{ maxSize }} kb / .jpg, .png
			</div>
		</slot>
		<input ref="fileInput"
		       class="file-input"
		       type="file"
		       :accept="accept"
		       multiple
		       @change="onFileChanged"/>
	</div>
</template>

<script>
	export default {
		name: "dropzone",
		props: {
			accept: {
				type: String,
				default: "image"
			},
			maxSize: {
				type: Number,
				default: 500
			},
			minSize: {
				type: Number,
				default: 20
			}
		},
		data: () => ({
			enabled: true,
			hightlight: false,
		}),
		methods: {
			addFiles ( files ) {
				let result = [];
				for ( let i = 0; i < files.length; i++ ) {
					const file = files.item( i );
					if ( !this.validateFile( file.type ) ) {
						toastr.warning( this.trans('File format is not supported'), this.trans('Error adding file') );
						return;
					}
					if ( Math.floor( file.size / 1000 ) > this.maxSize ) {
						toastr.warning(this.trans('The file size of') + " " +  file.name + " " + this.trans('exceeds the established limit of') + " " + this.maxSize  + "KB", this.trans('Error adding file') );
						return;
					}
					this.$emit( 'file-added', file );
					result.push( file );
				}
				this.$emit( 'files-added', result );
			},
			validateFile ( mime_type ) {
				const file_mime = mime_type.split( "/" );
				return this.accept.includes( file_mime[ 0 ] ) || this.accept.includes( file_mime[ 1 ] );
			},
			openFileSelection () {
				this.$refs.fileInput.click();
			},
			onDragOver ( event ) {
				event.preventDefault();
				this.hightlight = true;
			},
			onDragLeave () {
				this.hightlight = false;
				this.$emit( 'cancel-dropping', true );
			},
			onDrop ( event ) {
				event.preventDefault();
				this.addFiles( event.dataTransfer.files );
				this.hightlight = false;
			},
			onFileChanged ( event ) {
				this.addFiles( event.target.files );
			}
		}
	}
</script>

<style scoped>
	.dropzone {
		position: absolute;
		top: 0;
		bottom: 0;
		color: #5d6266;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		border: 2px dashed #b2b3b6 !important;
		text-align: center;
		cursor: pointer;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all, 0.5s;
	}

	.hightlight {
		background-color: #8be8d8;
	}

	.title {
		font-size: 16px;
	}

	.description {
		margin-top: 10px;
		font-size: 12px;
	}


	.file-input {
		display: none;
	}
</style>