<template>

</template>

<script>
	export default {
		name: "Manager",
		props: {
			propFiles: Array
		},
		data: () => ({
			files: [],
			file: null
		}),
		created () {
			this.files = this.propFiles;
		},
		mounted () {

		},
		methods: {

		}
	}
</script>

<style lang="scss" scoped>

</style>