<template>
	<div class="h-100">
		<div ref="upload_manager" class="upload-manager">
			<transition name="slideDown">
				<a href="#" id="um-addmore" class="upload-manager__addmore" v-if="files.length > 0 && !zone"
				   @click.prevent="choose"><i
					class="la la-plus la-2x"></i></a>
			</transition>
			<transition name="fade">
				<dropzone ref="dropzone" v-show="files.length === 0 || zone"
				          :endpoint="propEndpoint"
				          @file-added="add"
				          @cancel-dropping="zone = false"
				/>
			</transition>
			<transition name="fade">
				<div class="manager" ref="manager" v-if="files.length > 0">
					<div class="thumbs">
						<div class="thumbs__container" v-for="(file, index) in files" :key="index">
							<div class="thumbs__container__thumb">
								<img :src="file.dataURL" alt="">
								<span class="thumb-main" v-if="file.properties.main"><i class="la la-home"></i></span>
							</div>
							<div class="thumbs__actions">
								<div class="btn-group-sm">
									<button :class="`btn m-btn m-btn--icon-only btn-${file.properties.main ? 'primary' : 'warning'}`"
									        @click.prevent="setMain(index)"><i
										class="la la-home"></i></button>
									<button class="btn m-btn m-btn--icon-only btn-accent" @click.prevent="edit(index)"><i
										class="la la-pencil-square-o"></i></button>
									<button class="btn m-btn m-btn--icon-only btn-danger"
									        @click.prevent="remove(file)"><i
										class="la la-trash-o"></i></button>
								</div>
							</div>
						</div>
					</div>
					<transition name="slideDown">
						<div class="editbox" v-if="file">
							<div class="editbox__image">
								<img :src="file.dataURL" alt="">
							</div>
							<div class="editbox__actions mt-2">
								<input type="text" class="form-control m-input--solid w-100"
								       v-model="file.properties.description"
								       maxlength="250"
								       :placeholder="trans('Description')">
								<div class="btn-group mt-2">
									<button class="btn m-btn btn-sm btn-danger" @click.prevent="file = null">{{ trans("Close") }}</button>
									<button class="btn m-btn btn-sm btn-primary ml-1" @click.prevent="save">{{ trans("Save") }}</button>
								</div>
							</div>
						</div>
					</transition>
				</div>
			</transition>
		</div>
		<input type="hidden" name="images" :value="filesForServer">
	</div>
</template>

<script>
	import upload from './upload';

	export default {
		name: "UploadManager",
		mixins: [ upload ],
		props: {
			propEndpoint: {
				type: String,
				required: true,
			},
			propFiles: {
				type: Array,
				default: () => []
			},
			propOptions: {
				type: Object,
				defult: () => {
				}
			},
		},
		data: () => ({
			files: [],
			file: null,
			zone: false,
		}),
		computed: {
			filesForServer () {
				let result = [];
				for ( let file of this.files ) {
					result.push( {
						id: file.id,
						tmp: file.tmp,
						properties: { description: file.properties.description, main: file.properties.main }
					} )
				}
				return JSON.stringify( result );
			}
		},
		created () {
			this.files = this.propFiles;
			this.zone = !this.files.length === 0;
		},
		mounted () {
			[ "dragover", "dragenter" ].forEach( event =>
				this.$refs.upload_manager.addEventListener( event, () => this.zone = true, false )
			);
		},
		methods: {
			add ( file ) {
				this.toBase64( file ).then( item => {
					this.files.push( {
						id: null,
						object: file,
						dataURL: item,
						properties: {
							description: '',
							main: this.files.length === 0
						},
						tmp: null,
					} )
					;
					this.zone = false;
				} );
			},
			edit ( index ) {
				this.file = this.files[ index ];
			},
			save () {
				this.files[ this.files.indexOf( this.file ) ] = this.file;
				this.file = null;
			},
			remove ( file ) {
				this.files.splice( this.files.indexOf( file ), 1 );
			},
			setMain ( index ) {
				this.files.map( x => x.properties.main = false );
				this.files[ index ][ 'properties' ][ 'main' ] = true;
			},
			choose () {
				this.$refs.dropzone.openFileSelection();
			},
			toBase64 ( file ) {
				return new Promise( ( resolve, reject ) => {
					const reader = new FileReader();
					reader.readAsDataURL( file );
					reader.onload = () => resolve( reader.result );
					reader.onerror = error => reject( error );
				} );
			}
		}
	}
</script>

<style lang="scss">
	.upload-manager {
		height: 100%;
		/*border: 2px dashed #b2b3b6;*/
		position: relative;
		overflow: hidden;
		min-height: 350px;

		&__addmore {
			display: block;
			background: rgba(#000000, 0.8);
			padding: 3px 5px;
			position: absolute;
			top: 0;
			right: 0;
			text-decoration: none;
			transition: all 0.3s;
			color: #ffffff;
			z-index: 1;

			&:hover {
				text-decoration: none;
				background: rgba(#5967DD, 0.8);
			}
		}

	}

	.droparea {
		width: 100%;
		height: 100%;
	}

	.manager {
		height: 100%;
	}

	.editbox {
		width: 100%;
		height: 100%;
		min-height: 100%;
		background: rgba(#ffffff, 1);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		padding: 10px;

		&__image {
			margin: 0 auto;
			height: 68%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 10px;

			img {
				height: 100%;
			}
		}

		&__actions {
			padding: 10px 20px;
			height: 32%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			bottom: 0;
			left: 0;

			.btn-group {
				margin: 0 auto;
			}
		}
	}

	.thumbs {
		display: flex;
		flex-wrap: wrap;

		&__container {
			width: calc(100% / 3 - 10px);
			padding-top: calc(100% / 3 - 10px);
			margin: 5px;
			position: relative;
			background: #CFD9DF;
			overflow: hidden;

			&__thumb {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;

				.thumb-main {
					display: block;
					background: rgba(#5967DD, 0.6);
					color: #ffffff;
					position: absolute;
					top: 0;
					left: 0;
					padding: 5px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			&:hover {
				.thumbs__actions {
					opacity: 1;
				}
			}
		}

		&__actions {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(#000000, 0.8);
			transition: all 0.3s;
			opacity: 0;

			a {
				display: block;
			}
		}
	}

	@media (max-width: 960px) {
		.thumbs__container {
			width: calc(100% / 2 - 10px);
			padding-top: calc(100% / 2 - 10px);
		}
	}

	@media (max-width: 720px) {
		.thumbs__container {
			width: calc(100% / 3 - 10px);
			padding-top: calc(100% / 3 - 10px);
		}
	}

	@media (max-width: 480px) {
		.thumbs__container {
			width: calc(100% / 2 - 10px);
			padding-top: calc(100% / 2 - 10px);
		}
	}
</style>