<template>
		<div class="clientList">
				<div class="form-group m-form-group mb-3 position-relative">
						<label class="form-control-label">{{ trans('Enter data to search') }}</label>
						<div class="m-typeahead">
								<input type="text"
								       :class="['form-control m-input', {ignore:!!client}]"
								       :placeholder="trans('Identificator') + ' | ' + trans('Name') +' | ' + trans('Or other attributes')"
								       :data-validation-message="trans('You must select a customer to continue')"
								       :data-msg-required="trans('You must select a customer to continue')"
								       ref="input" required>
						</div>
				</div>
				<transition name="fade">
						<div class="p-3 bg-secondary m--font-bold m--font-info d-flex align-items-center border-info" v-if="client">
								<span style="min-width: 40px;"
								      :class="'m-badge m-badge--wide m-badge--'+ trans('classes.' + client.status)">{{trans(client.status)}}</span>&nbsp;
								<a :href="route('clients.show', client)" target="_blank" class="m-link m--font-bolder">{{makeClientName(client)}}</a>
						</div>
				</transition>
				<input type="hidden" name="client_id" v-if="client" :value="client.id">
		</div>
</template>

<script>
	export default {
		name: "ClientsList",
		props: [ 'propStatuses', 'propClient' ],
		data: () => ({
			client: null,
			statuses: null,
			input: null,
		}),
		created () {
			this.client = this.propClient ? JSON.parse( this.propClient ) : null;
			this.statuses = JSON.parse( this.propStatuses );
		},
		mounted () {
			this.init();
			this.initEvents();
		},
		destroyed () {
			this.client = null;
			this.statuses = null;
			this.input = null;
			$( this.$refs.input ).typeahead( 'destroy' );
			this.input.unbind( "typeahead:select" );
		},
		methods: {
			init () {
				this.input = $( this.$refs.input ).typeahead( null, {
					limit: 20,
					minLength: 3,
					display: 'name',
					highlight: true,
					async: true,
					source: this.getServerData(),
					templates: {
						pending: `<div class="p-2 text-center"> ${ this.trans( 'Please wait, search in progress' ) }.. <span class="ml-2 m-loader m-loader--brand"></span></div>`,
						notFound: `<div class="p-2 w-100 text-center">${ this.trans( 'Nothing found' ) }</div>`,
						header: `<h6 class="p-2 m--font-bolder m--font-brand">${ this.trans( 'Found' ) }</h6>`,
						suggestion: this.templateResult
					}
				} );
			},
			getServerData () {
				return new Bloodhound( {
					datumTokenizer: Bloodhound.tokenizers.whitespace,
					queryTokenizer: Bloodhound.tokenizers.whitespace,
					cache: false,
					remote: {
						url: route( 'async.clients.search', '' ) + '%QUERY',
						wildcard: '%QUERY'
					}
				} );
			},
			templateResult ( data ) {
				const name = this.makeClientName( data );
				return $( `<div class="m--font-bold m--font-brand">
                            <span class="m-badge m-badge--wide m-badge--${ this.trans( 'classes.' + data.status ) } m--font-bold">
                                ${ this.trans( data.status ) }
                            </span>
                             ${ name }
                         </div>` );
			},
			initEvents () {
				this.input.bind( 'typeahead:select', ( ev, suggestion ) => {
					this.client = suggestion;
					this.input.typeahead( 'val', '' );
				} );
			},
			makeClientName ( client ) {
				return `
                    ${ client.name }
                    ${ client.phone ? ' | ' + client.phone : '' }
                    `;
			}
		}
	}
</script>
