<template>
		<div class="dealDates">
				<div class="form-group m-form-group mb-3">
						<label class="form-control-label">{{ trans('Click to select') }}</label>
						<input type="text"
						       ref="dealDates"
						       class="form-control m-input dealDateInput m--font-brand"
						       :placeholder="trans('Click to select')">
						<input type="hidden" name="start" :value="deal.start">
						<input type="hidden" name="end" :value="deal.end">
				</div>
		</div>
</template>

<script>
	import $ from 'jquery';
	import 'bootstrap-daterangepicker/daterangepicker';
	import 'bootstrap-daterangepicker/daterangepicker.css';

	export default {
		name: "DealDates",
		props: [ 'propStart', 'propEnd' ],
		store: [ 'deal' ],
		mounted () {
			if ( this.propStart && this.propEnd ) {
				this.deal.start = moment( this.propStart ).format( "YYYY-MM-DD HH:mm" );
				this.deal.end = moment( this.propEnd ).format( "YYYY-MM-DD HH:mm" );
			} else {
				this.deal.start = moment().format( "YYYY-MM-DD HH:mm" );
				this.deal.end = moment().add( 1, 'days' ).format( "YYYY-MM-DD HH:mm" );
			}
			this.init();
		},
		watch: {
			"deal.end" () {
				this.update();
			},
			"deal.start" () {
				this.update();
			}
		},
		methods: {
			init () {
				$( this.$refs.dealDates ).daterangepicker( {
						opens: 'right',
						drops: "up",
						timePicker: true,
						timePicker24Hour: true,
						timePickerIncrement: 30,
						firstDay: 1,
						autoApply: true,
						autoUpdateInput: true,
						startDate: this.deal.start,
						endDate: this.deal.end,
						// minDate: moment(),
						// parentEl:$('.m-wizard__form'),
						ranges: {
							'+ 1': [ moment(), moment().add( 1, 'days' ) ],
							'+ 3': [ moment(), moment().add( 3, 'days' ) ],
							'+ 5': [ moment(), moment().add( 5, 'days' ) ],
							'+ 7': [ moment(), moment().add( 7, 'days' ) ],
							'+ 10': [ moment(), moment().add( 10, 'days' ) ],
							'+ 30': [ moment(), moment().add( 30, 'days' ) ],
						},
						locale: {
							format: "YYYY-MM-DD HH:mm",
							separator: " / ",
							applyLabel: this.trans( 'Confirm' ),
							cancelLabel: this.trans( 'Reject' ),
							customRangeLabel: this.trans( 'Other' ),
							fromLabel: this.trans( 'From' ),
							toLabel: this.trans( "To" ),
							daysOfWeek: moment.weekdaysMin(),
							monthNames: moment.monthsShort(),
						}
					},
					( start, end, label ) => {
						this.deal.start = moment( start ).format( "YYYY-MM-DD HH:mm" );
						this.deal.end = moment( end ).format( "YYYY-MM-DD HH:mm" );
					}
				);
			},
			update () {
				this.$store.deal.show.date = _.capitalize( moment( this.deal.start ).format( "MMM-DD" ) ) + ' / ' + _.capitalize( moment( this.deal.end ).format( "MMM-DD" ) );
			}
		}
	}
</script>

<style lang="scss">
		.dealDateInput {
				text-align: center;
				font-weight: bold;
				@media only screen and (max-width: 1366px) {
						font-size: 18px !important;
				}
				@media only screen and (max-width: 720px) {
						font-size: 16px !important;

				}
				@media only screen and (max-width: 420px) {
						font-size: 12px !important;

				}
				@media only screen and (max-width: 320px) {
						font-size: 10px !important;

				}
		}
</style>