<template>
		<div class="m-portlet m-portlet--bordered-semi m-portlet--space m-portlet--full-height">
				<div class="m-portlet__body">
						<div class="m-widget25">
                <span class="m-widget25__price m--font-brand">
                    <i class="flaticon-coins fa-1x"></i>
                    {{totalPrice}}
		                <small><span v-html="$store.currency.symbol"></span></small>
                </span>
								<span class="m-widget25__desc">{{duration}}</span>
								<div class="m-widget25--progress">
										<div class="m-widget25__progress">
                        <span class="m-widget25__progress-number">{{totalRealPrice}}
		                        <small><span v-html="$store.currency.symbol"></span></small>
                        </span>
												<div class="m--space-10"></div>
												<div class="progress m-progress--sm">
														<div class="progress-bar m--bg-danger" role="progressbar"
														     style="width: 100%;"></div>
												</div>
												<span class="m-widget25__progress-sub">{{ trans('Without discount') }}</span>
										</div>
										<div class="m-widget25__progress cursor-pointer"
										     @mouseleave="saleInput ? saleInput = !saleInput : '' ">
												<div class="m-widget25__progress-number ">
														<div class="m-input-icon m-input-icon--right" v-if="saleInput">
																<input type="number"
																       class="form-control m-input bg-transparent"
																       id="saleInput"
																       style="font-size: 26px; font-weight: bold;"
																       v-model.trim.number="sale"
																       @input="total()"
																>
														</div>
														<span v-else @click="showInput('saleInput')"
														      class="cursor-pointer">{{sale}} % 	<i class="flaticon-edit"></i></span>

												</div>
												<div class="m--space-10"></div>
												<div class="progress m-progress--sm">
														<div class="progress-bar m--bg-warning" role="progressbar"
														     :style="'width:' + sale + '%;'"></div>
												</div>
												<span class="m-widget25__progress-sub">{{ trans('Discount') }}</span>
										</div>
										<div class="m-widget25__progress cursor-pointer"
										     @mouseleave="priceInput ? priceInput = !priceInput : ''">
												<div class="m-widget25__progress-number">
														<div class="m-input-icon m-input-icon--right" v-if="priceInput">
																<input type="number"
																       class="form-control m-input bg-transparent"
																       id="priceInput"
																       style="font-size: 26px; font-weight: bold;"
																       v-model.trim.number="totalPrice"
																       @input="calculateSale($event)"
																>
														</div>
														<span v-else @click="showInput('priceInput')"
														      class="cursor-pointer"> {{totalPrice}} 	<i class="flaticon-edit"></i>
																<small><span v-html="$store.currency.symbol"></span></small>
                                    </span>
												</div>
												<div class="m--space-10"></div>
												<div class="progress m-progress--sm">
														<div class="progress-bar m--bg-success" role="progressbar"
														     :style="'width:' + (100 - sale) + '%;'"></div>
												</div>
												<span class="m-widget25__progress-sub">{{ trans('Final price') }}</span>
										</div>
								</div>
						</div>
				</div>
				<div class="m-portlet__foot pb-2">
                    <span class="m--font-info"
                          data-toggle="m-tooltip"
                          data-placement="right"
                          title=""
                          :data-original-title="trans('You can edit the discount and the total amount by clicking on them')">
                        <small>
                        <i class="flaticon-info"></i>
                        </small>
                    </span>
				</div>
				<input type="hidden" name="realprice" :value="totalRealPrice">
				<input type="hidden" name="price" :value="totalPrice">
				<input type="hidden" name="sale" :value="sale">
		</div>
</template>

<script>
	import Calculations from './calculations';

	export default {
		name: "DealParams",
		props: [ 'propDeal' ],
		mixins: [ Calculations ],
		store: [ 'deal' ],
		data: () => ({
			currentDeal: {},
			items: [],
			sale: 0,
			totalPrice: 0,
			saleInput: false,
			priceInput: false
		}),
		watch: {
			sale ( value ) {
				this.sale = value < 0 ? 0 : Number( value );
				this.sale = this.sale > 100 ? 100 : Number( this.sale );
			},
			totalPrice ( value ) {
				this.totalPrice = value < 0 ? 0 : Number( this.totalPrice );
			},
			"deal.items" () {
				this.items = this.$store.deal.items;
				this.total();
			},
			"deal.start" () {
				this.total();
			},
			"deal.end" () {
				this.total();
			}
		},
		created () {
			if ( this.propDeal ) {
				this.currentDeal = JSON.parse( this.propDeal );
				this.sale = this.currentDeal.sale;
			}
		},
		mounted () {
			mApp.initTooltips();
		},
		destroyed () {
			this.currentDeal = null;
			this.items = null;
			this.sale = null;
			this.totalPrice = null;
			this.saleInput = null;
			this.priceInput = null;
		},
		methods: {
			showInput ( input ) {
				this[ input ] = !this[ input ];
			}
		}
	}
</script>