<template>
		<div class="inventoryList">
				<div class="form-group m-form-group position-relative">
						<label class="form-control-label">{{ trans('Enter data to search') }}</label>
						<div class="m-typeahead">
								<input type="text"
								       :class="['form-control m-input', {ignore:!!Object.keys(items).length > 0}]"
								       :placeholder="trans('Identificator') + ' | ' + trans('Name') +' | ' + trans('Or other attributes')"
								       :data-validation-message="trans('You must select at least one item to continue')"
								       :data-msg-required="trans('You must select at least one item to continue')"
								       ref="input" required>
						</div>
				</div>
				<transition-group name="fade">
						<div class="p-3 mb-1 bg-secondary m--font-bold m--font-info d-flex align-items-center justify-content-between"
						     v-if="Object.keys(items).length > 0" v-for="(item, key) in items" :key="item.id">
								<div>
										<span class="m-badge m-badge--wide m-badge--info">№{{item.id}}</span>&nbsp;
										<span v-html="$helpers.badge(item.status)"></span>
										<a :href="route('inventory.show', item)" target="_blank"
										   class="m-link m--font-bolder">{{item.name}}</a>
										<span class="m-badge m-badge--wide m-badge--warning" v-html="item.cost"></span>
										<span class="badge badge-dark mr-1" v-for="(attr, key) in item.attributes"
										      v-if="attributes.find(x => x.slug == key)" :key="key">{{ attr }}</span>
								</div>
								<button class="btn m-btn m-btn--icon m-btn--icon-only btn-danger btn-sm m-btn--pill"
								        @click.prevent="items.splice(key,1)"><i class="la la-trash"></i></button>
						</div>
				</transition-group>
				<input type="hidden" name="items" :value="itemids">
		</div>
</template>

<script>
	export default {
		name: "InventoryList",
		props: [ 'propDeal' ],
		store: [ 'deal' ],
		data: () => ({
			deal_id: 0,
			items: [],
			input: null,
			attributes: {},
		}),
		computed: {
			itemids () {
				if ( this.items ) {
					return JSON.stringify( this.items.map( i => Number( i.id ) ) );
				}
			},
		},
		watch: {
			items () {
				this.deal.items = this.items;
				this.deal.show.itemsCount = this.items.length;
			}
		},
		created () {
			if ( this.propDeal ) {
				const deal = JSON.parse( this.propDeal );
				this.items = deal.items ? deal.items : [];
				this.deal_id = deal.id ? deal.id : 0;
			}
			this.attributes = window.attributes;
		},
		mounted () {
			this.init();
			this.initEvents();
			this.getItems();
		},
		beforeDestroy () {
			this.deal_id = null;
			this.items = null;
			this.input = null;
			$( this.$refs.input ).typeahead( 'destroy' );
			this.input.unbind( "typeahead:select" );
		},
		methods: {
			init () {
				this.input = $( this.$refs.input ).typeahead( null, {
					limit: 20,
					minLength: 3,
					display: 'name',
					highlight: true,
					async: true,
					source: this.getServerData(),
					templates: {
						pending: `<div class="p-2 text-center"> ${ this.trans( 'Please wait, search in progress' ) }... <span class="ml-2 m-loader m-loader--brand"></span></div>`,
						notFound: `<div class="p-2 w-100 text-center">${ this.trans( 'Nothing found' ) }</div>`,
						header: `<h6 class="p-2 m--font-bolder m--font-brand">${ this.trans( 'Found' ) }</h6>`,
						suggestion: this.templateResult
					}
				} );
			},
			getServerData () {
				const self = this;
				return new Bloodhound( {
					datumTokenizer: Bloodhound.tokenizers.whitespace,
					queryTokenizer: Bloodhound.tokenizers.whitespace,
					cache: false,
					remote: {
						url: route( 'async.inventory.search' ),
						wildcard: "%QUERY",
						prepare ( query, settings ) {
							settings.type = "POST";
							settings.data = { field: query, start: self.deal.start, end: self.deal.end };
							return settings;
						},
					},
				} );
			},
			initEvents () {
				this.input.bind( 'typeahead:select', ( ev, suggestion ) => {
					if ( this.items.find( x => x.id == suggestion.id ) === undefined ) {
						this.items.push( suggestion );
						this.input.typeahead( 'val', '' )
					}
				} );
			},
			templateResult ( item ) {
				let attrs = '';
				if ( item.attributes !== null ) {
					for ( let attr in item.attributes ) {
						if ( window.attributes.find( x => x.slug == attr ) ) {
							if(item.attributes[ attr ]) {
				        attrs += ` <span class="badge badge-dark">${ item.attributes[ attr ] }</span>`
							}
						}
					}
				}
				return $( `<div>
                        <span class="m-badge px-2 m-badge--info m--font-bold">#${ item.id }</span>
                        <span class="m-badge px-2 m-badge--${ this.trans( 'classes.' + item.status ) } m--font-bold"> ${ this.trans( item.status ) }</span>
                         <span style="font-weight: bolder;">${ item.name }</span>
                         <span>${ attrs }</span>
                        <span class="m--font-danger m--font-bold" style="font-weight: bolder;">
                            <small>${ item.cost }</small>
                        </span>
                        </div>` );
			},
			getItems () {
				if ( this.items.length > 0 ) {
					axios.post( route( 'async.inventory.isactivedeal', {
						deal: this.deal_id,
						items: JSON.stringify( this.items ),
						start: this.deal.start,
						end: this.deal.end
					} ) ).then( r => {
						this.items = r.data.items;
						this.showInfo( r.data.deleted );
					} )
				}
			},
			showInfo ( items ) {
				if ( items.length > 0 ) {
					let info = '';
					for ( let item of items ) {
						info += '<br/>' + item.name + ' ' + item.model + ''
					}
					toastr.info( info, `<span class="h4 m-font--bold">${ 'Attention' }!</span><br/>${ trans( 'Some items are not available on this date range. They are removed from the list' ) }` )
				}
			}
		}
	}
</script>

<style lang="scss" scoped>
		.inventoryList {
				.inventoryListItem {
						width: 100%;
				}
		}
</style>