<template>
		<keep-alive>
				<span class="clock">
						<span class="hours">{{ harold(hours) }} :</span>
						<span class="minutes">{{ harold(minutes) }} :</span>
						<span class="seconds">{{ harold(seconds) }}</span>
				</span>
		</keep-alive>
</template>

<script>
	export default {
		name: "Clock",
		data: () => ({
			hours: 0,
			minutes: 0,
			seconds: 0,
			interval: null
		}),
		created () {
			this.interval = setInterval( this.clock, 1000 );
		},
		methods: {
			clock () {
				let time = moment().tz( this.$store.timezone );
				this.hours = time.hours();
				this.minutes = time.minutes();
				this.seconds = time.seconds();
			},
			harold ( standIn ) {
				if ( standIn < 10 ) {
					standIn = '0' + standIn
				}
				return standIn;
			}
		},
		beforeDestroy () {
			this.interval.clearInterval();
		},
	}
</script>

<style scoped>

</style>