<template>
	<div>
		<keep-alive>
			<content-loader v-if="type === 'table'" :height="200" :animation="true" :speed="1" primaryColor="#CFD9DF"
			                secondaryColor="#F2F3F8">
				<rect x="0" y="0" width="100%" height="20"/>
				<rect x="0" y="30" width="100%" height="20"/>
				<rect x="0" y="60" width="100%" height="20"/>
				<rect x="0" y="90" width="100%" height="20"/>
				<rect x="0" y="120" width="100%" height="20"/>
				<rect x="0" y="150" width="100%" height="20"/>
				<rect x="0" y="180" width="100%" height="20"/>
			</content-loader>
			<component v-else v-bind:is="type" :height="height ? height : 250" animation="true" :speed="1" primaryColor="#CFD9DF"
			           secondaryColor="#F2F3F8"></component>
		</keep-alive>
	</div>
</template>

<script>
	import {
		ContentLoader,
		FacebookLoader,
		CodeLoader,
		BulletListLoader,
		InstagramLoader,
		ListLoader
	} from 'vue-content-loader'

	export default {
		name: "Loader",
		props: [ 'type' , 'height'],
		components: {
			ContentLoader,
			FacebookLoader,
			CodeLoader,
			BulletListLoader,
			InstagramLoader,
			ListLoader
		}
	}
</script>

<style scoped>

</style>