<template>
	<div id="inventoryTableContainer">
		<filters :table="table" :prop-statuses="statuses"></filters>
		<div class="position-relative">
			<table class="table table-striped- table-bordered table-hover table-checkable" width="100%" ref="table">
				<thead>
				<tr>
					<th>ИД</th>
					<th>И.Н.</th>
					<th>QR</th>
					<th>Фото</th>
					<th>Название</th>
					<th>Модель</th>
					<th>Цена</th>
					<th>Категория</th>
					<th>Статус</th>
					<th>Действия</th>
				</tr>
				</thead>
			</table>
		</div>
	</div>
</template>

<script>
	/** Attach DataTable Plugin  */
	import plugin from '../mixins/attach-plugin';

	/** Attach components */
	import Filters from './filters'

	/** Attach mixins */
	import options from '../mixins/options';
	import events from '../mixins/events';
	import actions from '../mixins/actions';
	import { columns, columnDefs } from './columns';


	export default {
		name: "DealsTable",
		props: [ 'actionsUrl', 'statuses' ],
		components: { Filters },
		mixins: [ plugin, options, columns, columnDefs, events, actions ],
		created () {
			// window.Echo.private( 'inventory.show' )
			// 	.listen( 'ShowInventory', e => {
			// 		window.location.href = route( 'inventory.show', e[ 0 ].id );
			// 	} );
		}
	}
</script>
