<template>
		<div>
				<div class="row mb-5">
						<div class="col-md-4 mb-2 mb-sm-0">
								<input type="text" class="form-control m-input bg-secondary" v-model.trim.lazy="search"
								       :placeholder="trans('Search') + '...'">
						</div>
						<div class="col-md-2 mb-2 mb-sm-0">
								<select class="select" data-width="100%" data-style="bg-secondary text-dark" v-model="category"
								        :title="trans('Category')">
										<option value="0">{{ trans('All') }}</option>
										<option :value="category.id" v-for="category in propCategories" :key="category.id">{{ category.name
												}}
										</option>
								</select>
						</div>
						<div class="col-md-2">
								<select class="select" data-width="100%" data-style="bg-secondary text-dark" v-model="status"
								        :title="trans('Status')">
										<option :value="null" class="text-center"
										        :data-content="`<span class='m-badge m-badge--wide m-badge--metal text-dark'>${trans('All')}</span>`">
												{{trans('All') }}
										</option>
										<option :value="status" v-for="status in propStatuses" :key="status"
										        class="text-center"
										        :data-content="`<span class='m-badge m-badge--wide m-badge--${trans('classes.' + status)}'>${trans(status)}</span>`">
												{{ trans(status) }}
										</option>
								</select>
						</div>
						<div class="col-md-2">
								<export classes="btn-outline-brand new-feature" :endpoints="{excel:'/export/inventory'}"
								        filename="inventory"></export>
						</div>

				</div>
				<div ref="table">
						<div class="row">
								<div class="col" v-if="items.data.length > 0">
										<div class="table-responsive">
												<table ref="footable"
												       class="table m-table m-table--head-separator-info table-striped table-bordered table-hover border">
														<thead>
														<tr>
																<th>#</th>
																<th>{{ trans("Name") }}</th>
																<th>{{ trans("Images") }}</th>
																<th v-if="propAttributes" v-for="attribute in propAttributes" :key="attribute.id">{{
																		attribute.name }}
																</th>
																<th>{{ trans("Category") }}</th>
																<th>{{ trans("Status") }}</th>
																<th>{{ trans("Price") }}</th>
																<th>{{ trans("Actions") }}</th>
														</tr>
														</thead>
														<transition-group tag="tbody" name="fade">
																<tr v-for="item in items.data" :key="item.id">
																		<td>{{ item.id }}</td>
																		<td><a :href="route('inventory.show', item.id)" class="m-link font-weight-bold">
																				{{ item.name }}</a></td>
																		<td style="width: 50px;">
																				<img v-if="item.thumb" :src="item.thumb" @error="$helpers.imageBroken()"
																				     class="img-fluid" alt="">
																				<div v-else v-html="$helpers.fallbackImg()"></div>
																		</td>
																		<td v-if="propAttributes" v-for="attribute in propAttributes" :key="attribute.id">
																				{{ item.attributes !== null && Object.keys(item.attributes).length > 0 &&
																				item.attributes.hasOwnProperty(attribute.slug) ?
																				item.attributes[attribute.slug] : '' }}
																		</td>
																		<td>{{ item.category ? item.category.name : trans('Not setted') }}</td>
																		<td>
																				<span :class="'m-badge m-badge--wide m-badge--' + trans('classes.' + item.status)">{{trans(item.status)}}</span>
																		</td>
																		<td><span v-html="item.cost"></span></td>
																		<td>
																				<a :href="route('inventory.edit',item.id)"
																				   class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
																				   title="Редактировать">
																						<i class="la la-pencil"></i>
																				</a>
																				<async-delete-btn
																								class="btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
																								:url="route('inventory.destroy', item.id)"
																								@before="mApp.block($refs.table)"
																								@success="items.data.splice(items.data.indexOf(item),1)"
																								@after="mApp.unblock($refs.table)">
																						<i class="la la-trash"></i>
																				</async-delete-btn>
																		</td>
																</tr>
														</transition-group>
												</table>
										</div>
								</div>
								<div class="col py-5 text-center" v-else>
										<p class="text-center">{{ trans("No records") }}</p>
								</div>
						</div>
						<div class="row">
								<div class="col pt-5">
										<pagination align="right" :data="items" @pagination-change-page="get"></pagination>
								</div>
						</div>
				</div>
		</div>
</template>

<script>
	export default {
		name: "Table",
		props: [ 'propAttributes', 'propStatuses', 'propCategories' ],
		data: () => ({
			items: { data: [] },
			search: null,
			category: 0,
			status: null
		}),
		created () {
			this.get();
		},
		mounted () {
			$( ".select" ).selectpicker();
		},
		watch: {
			search () {
				this.get();
			},
			category () {
				this.get();
			},
			status () {
				this.get();
			}
		},
		methods: {
			get ( page = 1 ) {
				mApp.block( this.$refs.table );
				axios.post( route( 'async.inventory.all' ) + '?page=' + page, {
					category: this.category,
					status: this.status,
					search: this.search,
				} ).then( r => {
					this.items = r.data;
					this.$store.loader = false;
					mApp.unblock( this.$refs.table );
				} );
			}
		}
	}
</script>

<style lang="scss" scoped>
		table {

				tr {
						th {
								text-align: center;
								font-size: 14px;
								padding: 10px 10px;
						}

						td {
								height: 50px;
								padding: 10px 10px;
								text-align: center;
								vertical-align: middle;
						}
				}
		}
</style>